extends ../layouts/layout.pug
block main-content
    .page-container
        include ../patials/sidebar.pug
        .page-content
            h1.text-center BÁO CÁO NHẬP - XUẤT - TỒN
            h6.text-center(style="font-style:italic;") Từ ngày 22/07/2019 Đến ngày: 29/07/2019
            .mt-2
                .responsive-table-defaults
                    table.table-defaults
                        thead.table-head
                            tr
                                th STT
                                th Mã chia tiết
                                th Tên chia tiết
                                th K10
                                th K13
                                th X32
                                th X40
                                th Tản
                                th DMSD
                                th TGSD
                
                        tbody.table-body
                            tr
                                td 1
                                td G01001-X1
                                td Thanh giữ đệm nỉ cân 60, 100, kg/chưa xi
                                td 
                                td 
                                td 93.500
                                td
                                td 93.500
                                td 52.000
                                td 1,80
                            tr
                                td 2
                                td G01002-X0
                                td Thanh chống xoay 1...5 kg/chưa xi
                                td
                                td 55.000
                                td 
                                td 
                                td 55.000
                                td 30.000
                                td 1,83
                            tr

                                td 3
                                td G01002-X0
                                td Móc lò xo ép kim 4...150 kg/chưa xi
                                td
                                td 46.500
                                td 
                                td 
                                td 46.500
                                td 1
                                td .500,00
                            tr
                                td 4
                                td G01002-X0
                                td Móc lò xo ép kim cân 6*/kg chưa xi
                                td
                                td 64.000
                                td
                                td
                                td 64.000
                                td 30.000
                                td 2,13
                            tr
                                td 5
                                td G01003-X0
                                td Thanh răng cân 1,2,5 kg/chưa xi
                                td
                                td 48.800
                                td
                                td
                                td 48.800
                                td 28.000
                                td 1,74
                            tr
                                td 6
                                td G01004-X1
                                td Vòng đệm 20.5 x 6.3 x 1.20/kg chưa xi
                                td 2000
                                td 64.000
                                td
                                td
                                td 64.000
                                td 30.000
                                td 2,13
                            tr
                                td 7
                                td G01004-X3
                                td Sắt bắt chốt TG cân 60, 100 kg/chưa xi
                                td 
                                td 64.000
                                td 600
                                td
                                td 64.000
                                td 30.000
                                td 2,01
                            tr    
                                td 8
                                td G01001-X1
                                td Thanh giữ đệm nỉ cân 60, 100, kg/chưa xi
                                td 
                                td 
                                td 93.500
                                td
                                td 93.500
                                td 52.000
                                td 1,80
                            tr
                                td 9
                                td G01002-X0
                                td Thanh chống xoay 1...5 kg/chưa xi
                                td
                                td 55.000
                                td 
                                td 
                                td 55.000
                                td 30.000
                                td 1,83
                            tr
                                td 10
                                td G01002-X0
                                td Móc lò xo ép kim 4...150 kg/chưa xi
                                td
                                td 46.500
                                td 
                                td 
                                td 46.500
                                td 1
                                td .500,00
                            tr
                                td 11
                                td G01002-X0
                                td Móc lò xo ép kim cân 6*/kg chưa xi
                                td
                                td 64.000
                                td
                                td
                                td 64.000
                                td 30.000
                                td 2,13
                            tr
                                td 12
                                td G01003-X0
                                td Thanh răng cân 1,2,5 kg/chưa xi
                                td
                                td 48.800
                                td
                                td
                                td 48.800
                                td 28.000
                                td 1,74
                            tr
                                td 13
                                td G01004-X1
                                td Vòng đệm 20.5 x 6.3 x 1.20/kg chưa xi
                                td 2000
                                td 64.000
                                td
                                td
                                td 64.000
                                td 30.000
                                td 2,13
                            tr
                                td 14
                                td G01004-X3
                                td Sắt bắt chốt TG cân 60, 100 kg/chưa xi
                                td 
                                td 64.000
                                td 600
                                td
                                td 64.000
                                td 30.000
                                td 2,01
                            tr   
                                td 15
                                td G01001-X1
                                td Thanh giữ đệm nỉ cân 60, 100, kg/chưa xi
                                td 
                                td 
                                td 93.500
                                td
                                td 93.500
                                td 52.000
                                td 1,80
                            tr
                                td 16
                                td G01002-X0
                                td Thanh chống xoay 1...5 kg/chưa xi
                                td
                                td 55.000
                                td 
                                td 
                                td 55.000
                                td 30.000
                                td 1,83
                            tr
                                td 17
                                td G01002-X0
                                td Móc lò xo ép kim 4...150 kg/chưa xi
                                td
                                td 46.500
                                td 
                                td 
                                td 46.500
                                td 1
                                td .500,00
                            tr
                                td 18
                                td G01002-X0
                                td Móc lò xo ép kim cân 6*/kg chưa xi
                                td
                                td 64.000
                                td
                                td
                                td 64.000
                                td 30.000
                                td 2,13
                            tr
                                td 19
                                td G01003-X0
                                td Thanh răng cân 1,2,5 kg/chưa xi
                                td
                                td 48.800
                                td
                                td
                                td 48.800
                                td 28.000
                                td 1,74
                            tr
                                td 20
                                td G01004-X1
                                td Vòng đệm 20.5 x 6.3 x 1.20/kg chưa xi
                                td 2000
                                td 64.000
                                td
                                td
                                td 64.000
                                td 30.000
                                td 2,13
                            tr
                                td 21
                                td G01004-X3
                                td Sắt bắt chốt TG cân 60, 100 kg/chưa xi
                                td 
                                td 64.000
                                td 600
                                td
                                td 64.000
                                td 30.000
                                td 2,01