extends ../layouts/layout.pug
block main-content
    .page-container
        include ../patials/sidebar.pug
        .page-content
            h1.text-center Bảng kê chi tiết vật tư
            .box-title-001
                h6.mg-r3.mg-l3(style="font-style:italic;") Từ ngày 22/07/2019
                h6.mg-r3.mg-l3(style="font-style:italic;") Đến ngày: 29/07/2019
            .mt-2
                .responsive-table-defaults
                    table.table-defaults
                        thead.table-head
                            tr
                                th STT
                                th Chứng từ
                                th Ngày
                                th Lượng tăng
                                th Lượng giảm
                                th Lượng tồn
                        tbody.table-body.bd-bt-01
                            tr.row-group
                                th K10
                                th(colspan =" 2 ") Tổng kho
                        tbody.table-body.bd-bt-01
                            tr.row-group 
                                th I1A035-901
                                th(colspan="2") Đế chặn bánh răng cân 1...5kg
                                th
                                th Số dư đầu kỳ:
                                th 71.670.00
                        tbody.table-body.bd-bt-01    
                            tr.row-group
                                td 1
                                td TCV125588
                                td 22/07/2019
                                td 
                                td (29.000)
                                td (42.760.00)
                            tr.row-group
                                td 2
                                td TCV125588
                                td 25/07/2019
                                td 20.000.00
                                td
                                td (62.760.00)
                            tr.row-group
                                td 3
                                td TCV125588
                                td 22/07/2019
                                td 10.000.00
                                td 
                                td (72.760.00)    
                            tr.row-group
                                td 4
                                td TCV125588
                                td 22/07/2019
                                td 
                                td (30.000.00)
                                td (42.760.00) 
                        tfoot.table-foot
                            tr 
                                td
                                td
                                td Cộng:
                                td 30,000,00
                                td (59,000,00)
                                td 42,680,00