extends ../layouts/layout.pug
block main-content
    .page-container
        include ../patials/sidebar.pug
        .page-content
            h1.text-center Tổng Hợp Phế Liệu
            .box-title-001
                h6.mg-r3.mg-l3(style="font-style:italic;") Từ ngày 22/07/2019
                h6.mg-r3.mg-l3(style="font-style:italic;") Đến ngày: 29/07/2019
            .mt-2
                .responsive-table-defaults
                    table.table-defaults
                        thead.table-head
                            tr
                                th STT
                                th Mã vật tư
                                th Tên vật tư
                                th DVT
                                th Số lượng
                                th
                        tbody.table-body.bd-bt-01
                            tr.row-group 
                                th 
                                th() CAA85
                                th(colspan =" 3 " ) Thanh giữ đệm nỉ cân 60, 100, kg/chưa xi
                                th
                            tr.row-group
                                td 1
                                td N1A001-901
                                td T.Giấy cân 5
                                td Cái
                                td 680.00
                                td
                                    .btn-control.row
                                        button.col-6
                                            i.fas.fa-edit
                                        button.col-6
                                            i.fas.fa-trash-alt
                            
                        tbody.table-body.bd-bt-01    
                            tr.row-group 
                                th 
                                th() CAA85
                                th(colspan =" 3 " ) Thanh giữ đệm nỉ cân 60, 100, kg/chưa xi
                                th
                            tr.row-group
                                td 1
                                td G01001-X1
                                td Thanh giữ đệm nỉ cân 60, 100, kg/chưa xi
                                td 
                                td
                                td
                                    .btn-control.row
                                        button.col-6
                                            i.fas.fa-edit
                                        button.col-6
                                            i.fas.fa-trash-alt
                            tr.row-group
                                td 2
                                td G01001-X1
                                td Thanh giữ đệm nỉ cân 60, 100, kg/chưa xi
                                td 
                                td      
                                td
                                    .btn-control.row
                                        button.col-6
                                            i.fas.fa-edit
                                        button.col-6
                                            i.fas.fa-trash-alt
                        tbody.table-body.bd-bt-01    
                            tr.row-group
                                th 
                                th() CAA85
                                th(colspan =" 3 " ) Thanh giữ đệm nỉ cân 60, 100, kg/chưa xi
                                th
                            tr.row-group
                                td 1
                                td G01001-X1
                                td Thanh giữ đệm nỉ cân 60, 100, kg/chưa xi
                                td 
                                td
                                td
                                    .btn-control.row
                                        button.col-6
                                            i.fas.fa-edit
                                        button.col-6
                                            i.fas.fa-trash-alt
                            tr.row-group
                                td 2
                                td G01001-X1
                                td Thanh giữ đệm nỉ cân 60, 100, kg/chưa xi
                                td 
                                td 
                                td
                                    .btn-control.row
                                        button.col-6
                                            i.fas.fa-edit
                                        button.col-6
                                            i.fas.fa-trash-alt
                            tr.row-group
                                td 3
                                td G01001-X1
                                td Thanh giữ đệm nỉ cân 60, 100, kg/chưa xi
                                td 
                                td
                                td
                                    .btn-control.row
                                        button.col-6
                                            i.fas.fa-edit
                                        button.col-6
                                            i.fas.fa-trash-alt
                        tbody.table-body.bd-bt-01    
                            tr.row-group
                                th 
                                th() CAA85
                                th(colspan =" 3 " ) Thanh giữ đệm nỉ cân 60, 100, kg/chưa xi
                                td
                            tr.row-group
                                td 1
                                td G01001-X1
                                td Thanh giữ đệm nỉ cân 60, 100, kg/chưa xi
                                td 
                                td
                                td
                                    .btn-control.row
                                        button.col-6
                                            i.fas.fa-edit
                                        button.col-6
                                            i.fas.fa-trash-alt
                            tr.row-group
                                td 2
                                td G01001-X1
                                td Thanh giữ đệm nỉ cân 60, 100, kg/chưa xi
                                td 
                                td 
                                td
                                    .btn-control.row
                                        button.col-6
                                            i.fas.fa-edit
                                        button.col-6
                                            i.fas.fa-trash-alt
                            tr.row-group
                                td 3
                                td G01001-X1
                                td Thanh giữ đệm nỉ cân 60, 100, kg/chưa xi
                                td 
                                td
                                td
                                    .btn-control.row
                                        button.col-6
                                            i.fas.fa-edit
                                        button.col-6
                                            i.fas.fa-trash-alt
                        tbody.table-body.bd-bt-01    
                            tr.row-group
                                th 
                                th() CAA85
                                th(colspan =" 3 " ) Thanh giữ đệm nỉ cân 60, 100, kg/chưa xi
                                th
                            tr.row-group
                                td 1
                                td G01001-X1
                                td Thanh giữ đệm nỉ cân 60, 100, kg/chưa xi
                                td 
                                td
                                td
                                    .btn-control.row
                                        button.col-6
                                            i.fas.fa-edit
                                        button.col-6
                                            i.fas.fa-trash-alt
                            tr.row-group
                                td 2
                                td G01001-X1
                                td Thanh giữ đệm nỉ cân 60, 100, kg/chưa xi
                                td 
                                td 
                                td
                                    .btn-control.row
                                        button.col-6
                                            i.fas.fa-edit
                                        button.col-6
                                            i.fas.fa-trash-alt
                            tr.row-group
                                td 3
                                td G01001-X1
                                td Thanh giữ đệm nỉ cân 60, 100, kg/chưa xi
                                td 
                                td
                                td
                                    .btn-control.row
                                        button.col-6
                                            i.fas.fa-edit
                                        button.col-6
                                            i.fas.fa-trash-alt
                            tr.row-group
                                td 4
                                td G01001-X1
                                td Thanh giữ đệm nỉ cân 60, 100, kg/chưa xi
                                td 
                                td
                                td
                                    .btn-control.row
                                        button.col-6
                                            i.fas.fa-edit
                                        button.col-6
                                            i.fas.fa-trash-alt
                        tbody.table-body.bd-bt-01
                            tr.row-group 
                                th 
                                th() CAA85
                                th(colspan =" 3 " ) Thanh giữ đệm nỉ cân 60, 100, kg/chưa xi
                                th
                            tr.row-group
                                td 1
                                td N1A001-901
                                td T.Giấy cân 5
                                td Cái
                                td 680.00
                                td
                                    .btn-control.row
                                        button.col-6
                                            i.fas.fa-edit
                                        button.col-6
                                            i.fas.fa-trash-alt
                        tbody.table-body.bd-bt-01    
                            tr.row-group 
                                th 
                                th() CAA85
                                th(colspan =" 3 " ) Thanh giữ đệm nỉ cân 60, 100, kg/chưa xi
                                th
                            tr.row-group
                                td 1
                                td G01001-X1
                                td Thanh giữ đệm nỉ cân 60, 100, kg/chưa xi
                                td 
                                td
                                td
                                    .btn-control.row
                                        button.col-6
                                            i.fas.fa-edit
                                        button.col-6
                                            i.fas.fa-trash-alt
                            tr.row-group
                                td 2
                                td G01001-X1
                                td Thanh giữ đệm nỉ cân 60, 100, kg/chưa xi
                                td 
                                td      
                                td
                                    .btn-control.row
                                        button.col-6
                                            i.fas.fa-edit
                                        button.col-6
                                            i.fas.fa-trash-alt
                            
                        tbody.table-body.bd-bt-01     
                            tr.row-group
                                th 
                                th() CAA85
                                th(colspan =" 3 " ) Thanh giữ đệm nỉ cân 60, 100, kg/chưa xi
                                th   
                            tr.row-group
                                td 1
                                td G01001-X1
                                td Thanh giữ đệm nỉ cân 60, 100, kg/chưa xi
                                td 
                                td
                                td
                                    .btn-control.row
                                        button.col-6
                                            i.fas.fa-edit
                                        button.col-6
                                            i.fas.fa-trash-alt
                            tr.row-group
                                td 2
                                td G01001-X1
                                td Thanh giữ đệm nỉ cân 60, 100, kg/chưa xi
                                td 
                                td 
                                td
                                    .btn-control.row
                                        button.col-6
                                            i.fas.fa-edit
                                        button.col-6
                                            i.fas.fa-trash-alt
                            tr.row-group
                                td 3
                                td G01001-X1
                                td Thanh giữ đệm nỉ cân 60, 100, kg/chưa xi
                                td 
                                td
                                td
                                    .btn-control.row
                                        button.col-6
                                            i.fas.fa-edit
                                        button.col-6
                                            i.fas.fa-trash-alt
                        tbody.table-body.bd-bt-01      
                            tr.row-group
                                th 
                                th() CAA85
                                th(colspan =" 3 " ) Thanh giữ đệm nỉ cân 60, 100, kg/chưa xi  
                                th
                            tr.row-group
                                td 1
                                td G01001-X1
                                td Thanh giữ đệm nỉ cân 60, 100, kg/chưa xi
                                td 
                                td
                                td
                                    .btn-control.row
                                        button.col-6
                                            i.fas.fa-edit
                                        button.col-6
                                            i.fas.fa-trash-alt
                            tr.row-group
                                td 2
                                td G01001-X1
                                td Thanh giữ đệm nỉ cân 60, 100, kg/chưa xi
                                td 
                                td 
                                td
                                    .btn-control.row
                                        button.col-6
                                            i.fas.fa-edit
                                        button.col-6
                                            i.fas.fa-trash-alt
                            tr.row-group
                                td 3
                                td G01001-X1
                                td Thanh giữ đệm nỉ cân 60, 100, kg/chưa xi
                                td 
                                td
                                td
                                    .btn-control.row
                                        button.col-6
                                            i.fas.fa-edit
                                        button.col-6
                                            i.fas.fa-trash-alt
                        tbody.table-body.bd-bt-01 
                            tr.row-group
                                th 
                                th() CAA85
                                th(colspan =" 3 " ) Thanh giữ đệm nỉ cân 60, 100, kg/chưa xi
                                th
                            tr.row-group
                                td 1
                                td G01001-X1
                                td Thanh giữ đệm nỉ cân 60, 100, kg/chưa xi
                                td 
                                td
                                td
                                    .btn-control.row
                                        button.col-6
                                            i.fas.fa-edit
                                        button.col-6
                                            i.fas.fa-trash-alt
                            tr.row-group
                                td 2
                                td G01001-X1
                                td Thanh giữ đệm nỉ cân 60, 100, kg/chưa xi
                                td 
                                td 
                                td
                                    .btn-control.row
                                        button.col-6
                                            i.fas.fa-edit
                                        button.col-6
                                            i.fas.fa-trash-alt
                            tr.row-group
                                td 3
                                td G01001-X1
                                td Thanh giữ đệm nỉ cân 60, 100, kg/chưa xi
                                td 
                                td
                                td
                                    .btn-control.row
                                        button.col-6
                                            i.fas.fa-edit
                                        button.col-6
                                            i.fas.fa-trash-alt
                            tr.row-group
                                td 4
                                td G01001-X1
                                td Thanh giữ đệm nỉ cân 60, 100, kg/chưa xi
                                td 
                                td
                                td
                                    .btn-control.row
                                        button.col-6
                                            i.fas.fa-edit
                                        button.col-6
                                            i.fas.fa-trash-alt
                        