extends ../layouts/layout.pug
block main-content
    .page-container
        include ../patials/sidebar.pug
        .page-content
            h1.text-center BÁO CÁO NHẬP-XUẤT-TỒN
            h4.text-center VẬT TƯ-CHI TIẾT-CƠ PHẬN
            h6.text-center Từ Ngày 29/07/2019 Đến Ngày 29/07/2019
            .mt-2
                .col-12
                    h5 Bộ phận: K10
                    h5 Tổng kho

                .responsive-table-defaults
                    table.table-defaults
                        thead.table-head
                            tr
                                th 
                                th STT
                                th Mã chi tiết
                                th Tên chi tiết
                                th ĐVT
                                th Tồn đầu
                                th Nhập
                                th Xuất SX
                                th Tồn cuối
                                th Ghi chú
                        tbody.table-body
                            tr
                                td
                                    .btn-control.row
                                        button.col-6
                                            i.fas.fa-edit
                                        button.col-6
                                            i.fas.fa-trash-alt
                                td 1
                                td GO2001-914
                                td Hạt nhựa PP/Trắng
                                td Cái
                                td 7.000,0
                                td 7.000,0
                                td 0
                                td 0
                                td
                            tr
                                td
                                    .btn-control.row
                                        button.col-6
                                            i.fas.fa-edit
                                        button.col-6
                                            i.fas.fa-trash-alt
                                td 1
                                td GO2001-914
                                td Hạt nhựa PP/Trắng
                                td Cái
                                td 7.000,0
                                td 7.000,0
                                td 0
                                td 0
                                td
                            tr
                                td
                                    .btn-control.row
                                        button.col-6
                                            i.fas.fa-edit
                                        button.col-6
                                            i.fas.fa-trash-alt
                                td 1
                                td GO2001-914
                                td Hạt nhựa PP/Trắng
                                td Cái
                                td 7.000,0
                                td 7.000,0
                                td 0
                                td 0
                                td
                            tr
                                td
                                    .btn-control.row
                                        button.col-6
                                            i.fas.fa-edit
                                        button.col-6
                                            i.fas.fa-trash-alt
                                td 1
                                td GO2001-914
                                td Hạt nhựa PP/Trắng
                                td Cái
                                td 7.000,0
                                td 7.000,0
                                td 0
                                td 0
                                td
                            tr
                                td
                                    .btn-control.row
                                        button.col-6
                                            i.fas.fa-edit
                                        button.col-6
                                            i.fas.fa-trash-alt
                                td 1
                                td GO2001-914
                                td Hạt nhựa PP/Trắng
                                td Cái
                                td 7.000,0
                                td 7.000,0
                                td 0
                                td 0
                                td
                            tr
                                td
                                    .btn-control.row
                                        button.col-6
                                            i.fas.fa-edit
                                        button.col-6
                                            i.fas.fa-trash-alt
                                td 1
                                td GO2001-914
                                td Hạt nhựa PP/Trắng
                                td Cái
                                td 7.000,0
                                td 7.000,0
                                td 0
                                td 0
                                td
                            tr
                                td
                                    .btn-control.row
                                        button.col-6
                                            i.fas.fa-edit
                                        button.col-6
                                            i.fas.fa-trash-alt
                                td 1
                                td GO2001-914
                                td Hạt nhựa PP/Trắng
                                td Cái
                                td 7.000,0
                                td 7.000,0
                                td 0
                                td 0
                                td
                        tfoot.table-foot
                            tr 
                                td Tổng
                                td
                                td
                                td
                                td
                                td
                                td
                                td
                                td
                                td
                        