extends ../layouts/layout.pug
block main-content
    .page-container
        include ../patials/sidebar.pug
        .page-content
            h1.text-center Báo cáo nhập - xuất - tồn
            h5.text-center Từ Ngày: 29/07/2019 Đến Ngày: 29/07/2019
            .mt-2
                .col-12
                    h5 CDT             
                    h5 Tổ cân Điện tử/P.NCPT
                .responsive-table-defaults
                    table.table-defaults
                        thead.table-head
                            tr
                                th
                                th STT
                                th Mã chi tiết
                                th Tên chi tiết
                                th Đầu kỳ
                                th Nhập
                                th Xuất
                                th Tồn cuối
                                th Đm SD
                                th TG SD
                                th CL xuất
                        tbody.table-body
                            tr
                                td
                                    .btn-control.row
                                        button.col-6
                                            i.fas.fa-edit
                                        button.col-6
                                            i.fas.fa-trash-alt
                                td 1
                                td 183014-901
                                td Bảng tên Nhơn Hoà CBDT
                                td 121
                                td 0
                                td 0
                                td 121
                                td 1
                                td 121,00
                                td 
                            
                            tr
                                td
                                    .btn-control.row
                                        button.col-6
                                            i.fas.fa-edit
                                        button.col-6
                                            i.fas.fa-trash-alt
                                td 2
                                td J8005-901
                                td IC-Bo mạch 89C54RD+
                                td 2
                                td 0
                                td 0
                                td 2
                                td 10
                                td ,20
                                td 
                            tr
                                td
                                    .btn-control.row
                                        button.col-6
                                            i.fas.fa-edit
                                        button.col-6
                                            i.fas.fa-trash-alt
                                td 3
                                td J8005-902
                                td IC ADS 1232
                                td 8
                                td 0
                                td 0
                                td 8
                                td 10
                                td ,80
                                td 
                         
                            tr
                                td
                                    .btn-control.row
                                        button.col-6
                                            i.fas.fa-edit
                                        button.col-6
                                            i.fas.fa-trash-alt
                                td 4
                                td J8005-903
                                td IC ADS 1230
                                td 35
                                td 0
                                td 0
                                td 35
                                td 1
                                td 35,00
                                td 
                            tr
                                td
                                    .btn-control.row
                                        button.col-6
                                            i.fas.fa-edit
                                        button.col-6
                                            i.fas.fa-trash-alt
                                td 5
                                td J8005-904
                                td IC Chính (IC 84AU0619)
                                td 2
                                td 0
                                td 0
                                td 2
                                td 10
                                td ,20
                                td 
                            tr
                                td
                                    .btn-control.row
                                        button.col-6
                                            i.fas.fa-edit
                                        button.col-6
                                            i.fas.fa-trash-alt
                                td 5
                                td J8005-904
                                td IC HC573
                                td 12
                                td 0
                                td 0
                                td 12
                                td 1
                                td 12,00
                                td
                            tr
                                td
                                    .btn-control.row
                                        button.col-6
                                            i.fas.fa-edit
                                        button.col-6
                                            i.fas.fa-trash-alt
                                td 6
                                td J8005-905
                                td Đèn LED A22
                                td 8
                                td 0
                                td 0
                                td 8
                                td 1
                                td 8,00
                                td 
                            tr
                                td
                                    .btn-control.row
                                        button.col-6
                                            i.fas.fa-edit
                                        button.col-6
                                            i.fas.fa-trash-alt
                                td 7
                                td J8005-906
                                td Công tắc A22
                                td 5
                                td 0
                                td 0
                                td 5
                                td 1
                                td 5,00
                                td 
                            tr
                                td
                                    .btn-control.row
                                        button.col-6
                                            i.fas.fa-edit
                                        button.col-6
                                            i.fas.fa-trash-alt
                                td 8
                                td J8005-907
                                td Phích cắm PG9
                                td 8
                                td 0
                                td 0
                                td 8
                                td 1
                                td 8,00
                                td 
                        tfoot.table-foot
                            tr 
                                td Tổng
                                td
                                td
                                td
                                td
                                td
                                td
                                td
                                td
                                td
                                td
                                td
                                td
                                td
                                td
                                td
                                td
                                td
                                td