extends ../layouts/layout.pug
block main-content
    .page-container
        include ../patials/sidebar.pug
        .page-content
            h1.text-center BÁO CÁO NHẬP-XUẤT-TỒN
            h5.text-center Từ Ngày 29/07/2019 Đến Ngày 29/07/2019
            .mt-2
                .col-12
                    h5 I1A053-901
                    h5 Mặt hông phải 1,2,5 kg/VN

                .responsive-table-defaults
                    table.table-defaults
                        thead.table-head
                            tr
                                th 
                                th 
                                th Tồn Đầu
                                th Nhập
                                th Xuất
                                th Tồn cuối
                                th Dm SD
                                th TGSD
                        tbody.table-body
                            tr
                                td
                                    .btn-control.row
                                        button.col-6
                                            i.fas.fa-edit
                                        button.col-6
                                            i.fas.fa-trash-alt
                                td K13g kho: Kho BTP
                                td 261.716
                                td 0
                                td 0
                                td 261.716
                                td 30.000
                                td 8.72
                            tr
                                td
                                    .btn-control.row
                                        button.col-6
                                            i.fas.fa-edit
                                        button.col-6
                                            i.fas.fa-trash-alt
                                td K13g kho: Kho BTP
                                td 261.716
                                td 0
                                td 0
                                td 261.716
                                td 30.000
                                td 8.72
                            tr
                                td
                                    .btn-control.row
                                        button.col-6
                                            i.fas.fa-edit
                                        button.col-6
                                            i.fas.fa-trash-alt
                                td K13g kho: Kho BTP
                                td 261.716
                                td 0
                                td 0
                                td 261.716
                                td 30.000
                                td 8.72
                            tr
                                td
                                    .btn-control.row
                                        button.col-6
                                            i.fas.fa-edit
                                        button.col-6
                                            i.fas.fa-trash-alt
                                td K13g kho: Kho BTP
                                td 261.716
                                td 0
                                td 0
                                td 261.716
                                td 30.000
                                td 8.72
                            tr
                                td
                                    .btn-control.row
                                        button.col-6
                                            i.fas.fa-edit
                                        button.col-6
                                            i.fas.fa-trash-alt
                                td K13g kho: Kho BTP
                                td 261.716
                                td 0
                                td 0
                                td 261.716
                                td 30.000
                                td 8.72
                        tfoot.table-foot
                            tr 
                                td Tổng
                                td
                                td
                                td
                                td
                                td
                                td
                                td
                              
                        