extends ../layouts/layout.pug
block main-content
    .page-container
        include ../patials/sidebar.pug
        .page-content
            h1.text-center BÁO CÁO NHẬP-XUẤT-TỒN
            h5.text-center Từ Ngày 29/07/2019 Đến Ngày 29/07/2019
            .mt-2
                .col-12
                    h5 Bộ phận: K13
                    h5 Tổng kho: Kho BTP

                .responsive-table-defaults
                    table.table-defaults
                        thead.table-head
                            tr
                                th 
                                th STT
                                th Mã chi tiết
                                th Tên chi tiết
                                th Tồn đầu
                                th Nhập
                                th Xuất DC
                                th Xuất SX
                                th Tồn cuối
                        tbody.table-body
                            tr
                                td
                                    .btn-control.row
                                        button.col-6
                                            i.fas.fa-edit
                                        button.col-6
                                            i.fas.fa-trash-alt
                                td 1
                                td GO2001-914
                                td Hạt nhựa PP/Trắng
                                td 23.600,00
                                td 23.600,00
                                td 
                                td 0,00
                                td 55.000,00
                            tr
                                td
                                    .btn-control.row
                                        button.col-6
                                            i.fas.fa-edit
                                        button.col-6
                                            i.fas.fa-trash-alt
                                td 1
                                td GO2001-914
                                td Hạt nhựa PP/Trắng
                                td 23.600,00
                                td 23.600,00
                                td 
                                td 0,00
                                td 55.000,00
                            tr
                                td
                                    .btn-control.row
                                        button.col-6
                                            i.fas.fa-edit
                                        button.col-6
                                            i.fas.fa-trash-alt
                                td 1
                                td GO2001-914
                                td Hạt nhựa PP/Trắng
                                td 23.600,00
                                td 23.600,00
                                td 
                                td 0,00
                                td 55.000,00
                            tr
                                td
                                    .btn-control.row
                                        button.col-6
                                            i.fas.fa-edit
                                        button.col-6
                                            i.fas.fa-trash-alt
                                td 1
                                td GO2001-914
                                td Hạt nhựa PP/Trắng
                                td 23.600,00
                                td 23.600,00
                                td 
                                td 0,00
                                td 55.000,00
                            tr
                                td
                                    .btn-control.row
                                        button.col-6
                                            i.fas.fa-edit
                                        button.col-6
                                            i.fas.fa-trash-alt
                                td 1
                                td GO2001-914
                                td Hạt nhựa PP/Trắng
                                td 23.600,00
                                td 23.600,00
                                td 
                                td 0,00
                                td 55.000,00
                            tr
                                td
                                    .btn-control.row
                                        button.col-6
                                            i.fas.fa-edit
                                        button.col-6
                                            i.fas.fa-trash-alt
                                td 1
                                td GO2001-914
                                td Hạt nhựa PP/Trắng
                                td 23.600,00
                                td 23.600,00
                                td 
                                td 0,00
                                td 55.000,00
                        tfoot.table-foot
                            tr 
                                td Tổng
                                td
                                td
                                td
                                td
                                td
                                td
                                td
                                td
                        