extends ../layouts/layout.pug
block main-content
    .page-container
        include ../patials/sidebar.pug
        .page-content
            h1.text-center BÁO CÁO NHẬP-XUẤT-TỒN
            h5.text-center Từ Ngày 29/07/2019 Đến Ngày 29/07/2019
            .mt-2
                .col-12
                    h5 K10
                    h5 Tổng kho

                .responsive-table-defaults
                    table.table-defaults
                        thead.table-head
                            tr
                                 
                                th STT
                                th Mã chi tiết
                                th Tên chi tiết
                                th Đầu kì
                                th Nhập
                                th Xuất
                                th Tồn cuối
                                th Đm SD
                                th TGSD
                                th CL Xuất
                                th
                        tbody.table-body
                            
                            
                            tr
                                td 1
                                td GO2001-914
                                td Hạt nhựa PP/Trắng
                                td 1.175
                                td 0
                                td 0
                                td 1.175
                                td 250
                                td 4.70
                                td
                                td
                                    .btn-control.row
                                        button.col-6
                                            i.fas.fa-edit
                                        button.col-6
                                            i.fas.fa-trash-alt
                            tr
                                td 1
                                td GO2001-914
                                td Hạt nhựa PP/Trắng
                                td 1.175
                                td 0
                                td 0
                                td 1.175
                                td 250
                                td 4.70
                                td
                                td
                                    .btn-control.row
                                        button.col-6
                                            i.fas.fa-edit
                                        button.col-6
                                            i.fas.fa-trash-alt
                            tr
                                td 1
                                td GO2001-914
                                td Hạt nhựa PP/Trắng
                                td 1.175
                                td 0
                                td 0
                                td 1.175
                                td 250
                                td 4.70
                                td
                                td
                                    .btn-control.row
                                        button.col-6
                                            i.fas.fa-edit
                                        button.col-6
                                            i.fas.fa-trash-alt
                            tr
                                td 1
                                td GO2001-914
                                td Hạt nhựa PP/Trắng
                                td 1.175
                                td 0
                                td 0
                                td 1.175
                                td 250
                                td 4.70
                                td
                                td
                                    .btn-control.row
                                        button.col-6
                                            i.fas.fa-edit
                                        button.col-6
                                            i.fas.fa-trash-alt
                            tr
                                td 1
                                td GO2001-914
                                td Hạt nhựa PP/Trắng
                                td 1.175
                                td 0
                                td 0
                                td 1.175
                                td 250
                                td 4.70
                                td
                                td
                                    .btn-control.row
                                        button.col-6
                                            i.fas.fa-edit
                                        button.col-6
                                            i.fas.fa-trash-alt
                            tr
                                td 1
                                td GO2001-914
                                td Hạt nhựa PP/Trắng
                                td 1.175
                                td 0
                                td 0
                                td 1.175
                                td 250
                                td 4.70
                                td
                                td
                                    .btn-control.row
                                        button.col-6
                                            i.fas.fa-edit
                                        button.col-6
                                            i.fas.fa-trash-alt
                        tfoot.table-foot
                            tr 
                                td Tổng
                                td
                                td
                                td
                                td
                                td
                                td
                                td
                                td
                                td
                                td
                        