extends ../layouts/layout.pug
block main-content
    .page-container
        include ../patials/sidebar.pug
        .page-content
            h1.text-center BÁO CÁO NHẬP-XUẤT-TỒN
            h4.text-center VẬT TƯ-CHI TIẾT-CƠ PHẬN
            h6.text-center Từ Ngày 29/07/2019 Đến Ngày 29/07/2019
            .mt-2 
                .responsive-table-defaults
                    table.table-defaults
                        thead.table-head
                            tr
                                 
                                th STT
                                th Mã chi tiết
                                th Tên chi tiết
                                th ĐVT
                                th Tồn đầu
                                th Nhập Tạm
                                th Nhập
                                th Xuất
                                th Tồn cuối
                                th
                        tbody.table-body
                            tr
                                td
                                td(style="font-weight: 700 !important") Bộ phận: K00
                                td(colspan="4" style="font-weight: 700 !important") Tổng kho: Kho tole   
                            tr
                                td 1
                                td GO2001-914
                                td Hạt nhựa PP/Trắng
                                td Cái
                                td 7.000,0
                                td 7.000,0
                                td 19.000
                                td 0
                                td 37.000
                                td
                                    .btn-control.row
                                        button.col-6
                                            i.fas.fa-edit
                                        button.col-6
                                            i.fas.fa-trash-alt
                            tr
                                td 1
                                td GO2001-914
                                td Hạt nhựa PP/Trắng
                                td Cái
                                td 7.000,0
                                td 7.000,0
                                td 19.000
                                td 0
                                td 37.000
                                td
                                    .btn-control.row
                                        button.col-6
                                            i.fas.fa-edit
                                        button.col-6
                                            i.fas.fa-trash-alt
                            tr
                                td 1
                                td GO2001-914
                                td Hạt nhựa PP/Trắng
                                td Cái
                                td 7.000,0
                                td 7.000,0
                                td 19.000
                                td 0
                                td 37.000
                                td
                                    .btn-control.row
                                        button.col-6
                                            i.fas.fa-edit
                                        button.col-6
                                            i.fas.fa-trash-alt
                            tr
                                td 1
                                td GO2001-914
                                td Hạt nhựa PP/Trắng
                                td Cái
                                td 7.000,0
                                td 7.000,0
                                td 19.000
                                td 0
                                td 37.000
                                td
                                    .btn-control.row
                                        button.col-6
                                            i.fas.fa-edit
                                        button.col-6
                                            i.fas.fa-trash-alt
                            tr
                                td 1
                                td GO2001-914
                                td Hạt nhựa PP/Trắng
                                td Cái
                                td 7.000,0
                                td 7.000,0
                                td 19.000
                                td 0
                                td 37.000
                                td
                                    .btn-control.row
                                        button.col-6
                                            i.fas.fa-edit
                                        button.col-6
                                            i.fas.fa-trash-alt
                            tr
                                td 1
                                td GO2001-914
                                td Hạt nhựa PP/Trắng
                                td Cái
                                td 7.000,0
                                td 7.000,0
                                td 19.000
                                td 0
                                td 37.000
                                td
                                    .btn-control.row
                                        button.col-6
                                            i.fas.fa-edit
                                        button.col-6
                                            i.fas.fa-trash-alt
                            tr
                                td 1
                                td GO2001-914
                                td Hạt nhựa PP/Trắng
                                td Cái
                                td 7.000,0
                                td 7.000,0
                                td 19.000
                                td 0
                                td 37.000
                                td
                                    .btn-control.row
                                        button.col-6
                                            i.fas.fa-edit
                                        button.col-6
                                            i.fas.fa-trash-alt
                        tfoot.table-foot
                            tr 
                                td Tổng
                                td
                                td
                                td
                                td
                                td
                                td
                                td
                                td
                                td
                        