extends ../layouts/layout.pug
block main-content
    .page-container
        include ../patials/sidebar.pug
        .page-content
            h1.text-center Tổng hợp quyết toán
            .row.mg-t3.position-re 
                .col-sm-6.ps-ab-left
                    .panel.panel-default.height-full.mg-0
                        .panel-heading
                            h6.panel-title
                                |  Hệ thống quản lý kế hoạch
                        .panel-body
                            .row
                                .col-sm-6
                                    .form-group.mg-t1.mg-b1
                                        label.control-label Từ ngày: 
                                        input.form-control(type='date', name="date")
                                .col-sm-6
                                    .form-group.mg-t1.mg-b1
                                        label.control-label Đến ngày:
                                        input.form-control(type='date', name="date")
                .col-sm-6.float-right.float-right-none.col-xs-12
                    .panel.panel-default.mg-0
                        .panel-heading
                            h6.panel-title
                                |  Chọn :
                        .panel-body
                            .row
                                .col-sm-12
                                    .form-group.mg-t1.mg-b1
                                        input(type="radio", name="radio4", value="1", checked)
                                        span.label-radio
                                            label In tất cả
                                    .form-group.mg-t1.mg-b1
                                        input(type="radio", name="radio4", value="2")
                                        span.label-radio
                                            label In 1 kho
                                .col-sm-12.mg-t0
                                    .col-sm-5.form-group.mg-t1.mg-b1.pd-0.col-xs-9.mg-t0
                                        input(type="radio", name="radio4", value="3")
                                        span.label-radio
                                            label In báo cáo & 1 mã
                                    .col-sm-2.pd-0.col-xs-3.mg-t0
                                        select.form-control(name='select')
                                            option(value='opt1') AAA
                                            option(value='opt2') BBB
                                            option(value='opt3') CCC
                                            option(value='opt4') DDD
            .form-actions.text-center.mg-b1.mg-t3
                button.btn.btn-primary.btn-defaults.mg-r3#btnradio(type='submit') In báo cáo
                button.btn.btn-primary.btn-defaults.mg-r3(type='submit') Thoát