extends ../layouts/layout.pug
block main-content
    .page-container
        include ../patials/sidebar.pug
        .page-content
            .row.mg-t3 
                .col-sm-8
                    .panel.panel-default(style="margin-bottom:15px")
                        .panel-heading
                            h6.panel-title
                                |  Hệ thống quản lý kế hoạch
                        .panel-body
                            .row
                                .col-sm-6
                                    .form-group.mg-t1.mg-b1
                                        label.control-label Từ ngày: 
                                        input.form-control(type='date', name="date")
                                .col-sm-6
                                    .form-group.mg-t1.mg-b1
                                        label.control-label Đến ngày:
                                        input.form-control(type='date', name="date")
                            .row
                                .col-sm-6
                                    .form-group.mg-t1.mg-b1
                                        label.control-label Ngày báo cáo: 
                                        input.form-control(type='date', name="date")
                                .col-sm-6
                                    .form-group.mg-b1.mg-t3.pd-t-1
                                        .block-inner.mg-t1
                                            .checker
                                                span
                                                    input.styled(type='checkbox')
                                            label.checkbox-inline.mg-r3 Bỏ cột đ.mức
            .row.mg-t3
                .col-sm-12
                    .panel.panel-default(style="margin-bottom:15px")
                        .panel-heading
                            h6.panel-title
                                |  Xem bảng cân đối thời gian sử dụng
                        .panel-body
                            .row
                                .col-sm-12
                                    .form-group.mg-t1.mg-b1
                                        input(type="radio", name="radio", value="12", checked)
                                        span.label-radio
                                            label Xem chi tiết vật tư tất cả các kho
                                    .form-group.mg-t1.mg-b1
                                        input(type="radio", name="radio", value="12")
                                        span.label-radio
                                            label Chọn xem chi tiết vật tư theo kho
            .form-actions.text-center.mg-b1.mg-t3
                button.btn.btn-primary.btn-defaults.mg-r3(type='submit') Đồng ý
                button.btn.btn-primary.btn-defaults.mg-r3(type='submit') Biến