extends ../layouts/layout.pug
block main-content
    .page-container
        include ../patials/sidebar.pug
        .page-content
            h1.text-center Tổng Hợp Phế Liệu
            h5.text-center Từ Ngày 29/07/2019 Đến Ngày 29/07/2019
            .mt-2
                .responsive-table-defaults
                    table.table-defaults
                        thead.table-head
                            tr
                                 
                                th STT
                                th Mã vật tư
                                th Tên vật tư
                                th DVT
                                th Số lượng
                                th
                        tbody.table-body
                            tr
                                td
                                td(style="font-weight: 700 !important") K10
                                td(colspan="4" style="font-weight: 700 !important") Tổng kho                            
                            tr
                                
                                td 1
                                td I1A009-954
                                td Mã số 2KG/6"/Gold/Indo
                                td Cái
                                td 1.00
                                td
                                    .btn-control.row
                                        button.col-6
                                            i.fas.fa-edit
                                        button.col-6
                                            i.fas.fa-trash-alt
                            tr
                                
                                td 2
                                td I1A009-954
                                td Mã số 2KG/6"/Gold/Indo
                                td Cái
                                td 1.00
                                td
                                    .btn-control.row
                                        button.col-6
                                            i.fas.fa-edit
                                        button.col-6
                                            i.fas.fa-trash-alt
                            tr
                                
                                td 3
                                td I1A009-954
                                td Mã số 2KG/6"/Gold/Indo
                                td Cái
                                td 1.00
                                td
                                    .btn-control.row
                                        button.col-6
                                            i.fas.fa-edit
                                        button.col-6
                                            i.fas.fa-trash-alt
                            tr
                                
                                td 4
                                td I1A009-954
                                td Mã số 2KG/6"/Gold/Indo
                                td Cái
                                td 1.00
                                td
                                    .btn-control.row
                                        button.col-6
                                            i.fas.fa-edit
                                        button.col-6
                                            i.fas.fa-trash-alt
                            tr
                                
                                td 5
                                td I1A009-954
                                td Mã số 2KG/6"/Gold/Indo
                                td Cái
                                td 1.00
                                td
                                    .btn-control.row
                                        button.col-6
                                            i.fas.fa-edit
                                        button.col-6
                                            i.fas.fa-trash-alt
