extends ../layouts/layout.pug
block main-content
    .page-container
        include ../patials/sidebar.pug
        .page-content
            h1.text-center Tổng Hợp Quyết Toán
            .box-title-001
                h6.mg-r3.mg-l3(style="font-style:italic;") Từ ngày 22/07/2019
                h6.mg-r3.mg-l3(style="font-style:italic;") Đến ngày: 29/07/2019
            .mt-2
                .responsive-table-defaults
                    table.table-defaults
                        thead.table-head
                            tr
                                th STT
                                th Mã vật tư
                                th Tên vật tư
                                th DVT
                                th Tồn đầu
                                th Nhập
                                th Xuất
                                th Tồn cuối
                                th
                        tbody.table-body.bd-bt-01
                            tr.row-group
                                td 1
                                td F01002-010
                                td tole Cuộn: 0.8 x 390 mm/A06
                                td Kg
                                td 15.009.0
                                td 0.0
                                td 
                                td 19.354.0
                                td
                                    .btn-control.row
                                        button.col-6
                                            i.fas.fa-edit
                                        button.col-6
                                            i.fas.fa-trash-alt
                            tr.row-group 
                                td 1
                                td F01002-010
                                td tole Cuộn: 0.8 x 390 mm/A06
                                td Kg
                                td 15.009.0
                                td 0.0
                                td 8.831.0
                                td 
                                td
                                    .btn-control.row
                                        button.col-6
                                            i.fas.fa-edit
                                        button.col-6
                                            i.fas.fa-trash-alt
                            tr.row-group
                                td 1
                                td F01002-010
                                td tole Cuộn: 0.8 x 390 mm/A06
                                td Kg
                                td 15.009.0
                                td 0.0
                                td 8.831.0
                                td 
                                td
                                    .btn-control.row
                                        button.col-6
                                            i.fas.fa-edit
                                        button.col-6
                                            i.fas.fa-trash-alt
                        tbody.table-body.bd-bt-01
                            tr.row-group
                                td 1
                                td F01002-010
                                td tole Cuộn: 0.8 x 390 mm/A06
                                td Kg
                                td 
                                td 0.0
                                td 8.831.0
                                td 19.354.0
                                td
                                    .btn-control.row
                                        button.col-6
                                            i.fas.fa-edit
                                        button.col-6
                                            i.fas.fa-trash-alt
                            tr.row-group 
                                td 1
                                td F01002-010
                                td tole Cuộn: 0.8 x 390 mm/A06
                                td Kg
                                td 15.009.0
                                td 0.0
                                td 8.831.0
                                td 
                                td
                                    .btn-control.row
                                        button.col-6
                                            i.fas.fa-edit
                                        button.col-6
                                            i.fas.fa-trash-alt
                            tr.row-group
                                td 1
                                td F01002-010
                                td tole Cuộn: 0.8 x 390 mm/A06
                                td Kg
                                td 15.009.0
                                td 0.0
                                td 
                                td 19.354.0
                                td
                                    .btn-control.row
                                        button.col-6
                                            i.fas.fa-edit
                                        button.col-6
                                            i.fas.fa-trash-alt
                        tbody.table-body.bd-bt-01
                            tr.row-group
                                td 1
                                td F01002-010
                                td tole Cuộn: 0.8 x 390 mm/A06
                                td Kg
                                td 15.009.0
                                td 
                                td 8.831.0
                                td 19.354.0
                                td
                                    .btn-control.row
                                        button.col-6
                                            i.fas.fa-edit
                                        button.col-6
                                            i.fas.fa-trash-alt
                            tr.row-group 
                                td 1
                                td F01002-010
                                td tole Cuộn: 0.8 x 390 mm/A06
                                td Kg
                                td 15.009.0
                                td 0.0
                                td 
                                td 19.354.0
                                td
                                    .btn-control.row
                                        button.col-6
                                            i.fas.fa-edit
                                        button.col-6
                                            i.fas.fa-trash-alt
                            tr.row-group
                                td 1
                                td F01002-010
                                td tole Cuộn: 0.8 x 390 mm/A06
                                td Kg
                                td 
                                td 0.0
                                td 8.831.0
                                td 19.354.0
                                td
                                    .btn-control.row
                                        button.col-6
                                            i.fas.fa-edit
                                        button.col-6
                                            i.fas.fa-trash-alt
                        tbody.table-body.bd-bt-01
                            tr.row-group
                                td 1
                                td F01002-010
                                td tole Cuộn: 0.8 x 390 mm/A06
                                td Kg
                                td 15.009.0
                                td 0.0
                                td 
                                td 19.354.0
                                td
                                    .btn-control.row
                                        button.col-6
                                            i.fas.fa-edit
                                        button.col-6
                                            i.fas.fa-trash-alt
                            tr.row-group 
                                td 1
                                td F01002-010
                                td tole Cuộn: 0.8 x 390 mm/A06
                                td Kg
                                td 15.009.0
                                td 0.0
                                td 
                                td 19.354.0
                                td
                                    .btn-control.row
                                        button.col-6
                                            i.fas.fa-edit
                                        button.col-6
                                            i.fas.fa-trash-alt
                            tr.row-group
                                td 1
                                td F01002-010
                                td tole Cuộn: 0.8 x 390 mm/A06
                                td Kg
                                td 15.009.0
                                td 
                                td 8.831.0
                                td 19.354.0
                                td
                                    .btn-control.row
                                        button.col-6
                                            i.fas.fa-edit
                                        button.col-6
                                            i.fas.fa-trash-alt
                        tbody.table-body.bd-bt-01
                            tr.row-group
                                td 1
                                td F01002-010
                                td tole Cuộn: 0.8 x 390 mm/A06
                                td Kg
                                td 15.009.0
                                td 
                                td 8.831.0
                                td 19.354.0
                                td
                                    .btn-control.row
                                        button.col-6
                                            i.fas.fa-edit
                                        button.col-6
                                            i.fas.fa-trash-alt
                            tr.row-group 
                                td 1
                                td F01002-010
                                td tole Cuộn: 0.8 x 390 mm/A06
                                td Kg
                                td 15.009.0
                                td 0.0
                                td 
                                td 19.354.0
                                td
                                    .btn-control.row
                                        button.col-6
                                            i.fas.fa-edit
                                        button.col-6
                                            i.fas.fa-trash-alt
                            tr.row-group
                                td 1
                                td F01002-010
                                td tole Cuộn: 0.8 x 390 mm/A06
                                td Kg
                                td 15.009.0
                                td 0.0
                                td 8.831.0
                                td 
                                td
                                    .btn-control.row
                                        button.col-6
                                            i.fas.fa-edit
                                        button.col-6
                                            i.fas.fa-trash-alt
                        tbody.table-body.bd-bt-01
                            tr.row-group
                                td 1
                                td F01002-010
                                td tole Cuộn: 0.8 x 390 mm/A06
                                td Kg
                                td 15.009.0
                                td 0.0
                                td 8.831.0
                                td 
                                td
                                    .btn-control.row
                                        button.col-6
                                            i.fas.fa-edit
                                        button.col-6
                                            i.fas.fa-trash-alt
                            tr.row-group 
                                td 1
                                td F01002-010
                                td tole Cuộn: 0.8 x 390 mm/A06
                                td Kg
                                td 
                                td 0.0
                                td 8.831.0
                                td 19.354.0
                                td
                                    .btn-control.row
                                        button.col-6
                                            i.fas.fa-edit
                                        button.col-6
                                            i.fas.fa-trash-alt
                            tr.row-group
                                td 1
                                td F01002-010
                                td tole Cuộn: 0.8 x 390 mm/A06
                                td Kg
                                td 15.009.0
                                td 0.0
                                td 
                                td 19.354.0
                                td
                                    .btn-control.row
                                        button.col-6
                                            i.fas.fa-edit
                                        button.col-6
                                            i.fas.fa-trash-alt
                        tbody.table-body.bd-bt-01
                            tr.row-group
                                td 1
                                td F01002-010
                                td tole Cuộn: 0.8 x 390 mm/A06
                                td 
                                td 15.009.0
                                td 0.0
                                td 8.831.0
                                td 19.354.0
                                td
                                    .btn-control.row
                                        button.col-6
                                            i.fas.fa-edit
                                        button.col-6
                                            i.fas.fa-trash-alt
                            tr.row-group 
                                td 1
                                td F01002-010
                                td tole Cuộn: 0.8 x 390 mm/A06
                                td Kg
                                td 15.009.0
                                td 0.0
                                td 
                                td 19.354.0
                                td
                                    .btn-control.row
                                        button.col-6
                                            i.fas.fa-edit
                                        button.col-6
                                            i.fas.fa-trash-alt
                            tr.row-group
                                td 1
                                td F01002-010
                                td tole Cuộn: 0.8 x 390 mm/A06
                                td Kg
                                td 15.009.0
                                td 
                                td 8.831.0
                                td 19.354.0
                                td
                                    .btn-control.row
                                        button.col-6
                                            i.fas.fa-edit
                                        button.col-6
                                            i.fas.fa-trash-alt