extends ../layouts/layout.pug
block main-content
    .page-container
        include ../patials/sidebar.pug
        .page-content
            h1.text-center CHI TIẾT TOLE GIA CÔNG
            h5.text-center Theo HĐ cắt tole từ Ngày: 29/07/2019 đến Ngày: 29/07/2019
            .mt-2
                .responsive-table-defaults
                    table.table-defaults
                        thead.table-head
                            tr
                                th 
                                th Mã G
                                th Tên G
                                th Số b.về
                                th Ngày
                                th SL KH
                                th SL TH
                                th Thừa thiếu
                                th Kg
                                th %
                        tbody.table-body
                            tr
                                td
                                    .btn-control.row
                                        button.col-6
                                            i.fas.fa-edit
                                        button.col-6
                                            i.fas.fa-trash-alt
                                td G01001-02B
                                td tole: 0.5 x 275 x890/f53/4sp
                                td CT10271
                                td 22/07/2019
                                td 4.550
                                td 
                                td -4.550
                                td -4.371
                                td 
                            tr
                                td
                                    .btn-control.row
                                        button.col-6
                                            i.fas.fa-edit
                                        button.col-6
                                            i.fas.fa-trash-alt
                                td G01001-02B
                                td tole: 0.5 x 275 x890/f53/4sp
                                td CT10271
                                td 22/07/2019
                                td 4.550
                                td 
                                td -4.550
                                td -4.371
                                td             
                            tr
                                td
                                    .btn-control.row
                                        button.col-6
                                            i.fas.fa-edit
                                        button.col-6
                                            i.fas.fa-trash-alt
                                td G01001-02B
                                td tole: 0.5 x 275 x890/f53/4sp
                                td CT10271
                                td 22/07/2019
                                td 4.550
                                td 
                                td -4.550
                                td -4.371
                                td                 
                            tr
                                td
                                    .btn-control.row
                                        button.col-6
                                            i.fas.fa-edit
                                        button.col-6
                                            i.fas.fa-trash-alt
                                td G01001-02B
                                td tole: 0.5 x 275 x890/f53/4sp
                                td CT10271
                                td 22/07/2019
                                td 4.550
                                td 
                                td -4.550
                                td -4.371
                                td  
                            tr
                                td
                                    .btn-control.row
                                        button.col-6
                                            i.fas.fa-edit
                                        button.col-6
                                            i.fas.fa-trash-alt
                                td G01001-02B
                                td tole: 0.5 x 275 x890/f53/4sp
                                td CT10271
                                td 22/07/2019
                                td 4.550
                                td 
                                td -4.550
                                td -4.371
                                td           
                            tr
                                td
                                    .btn-control.row
                                        button.col-6
                                            i.fas.fa-edit
                                        button.col-6
                                            i.fas.fa-trash-alt
                                td G01001-02B
                                td tole: 0.5 x 275 x890/f53/4sp
                                td CT10271
                                td 22/07/2019
                                td 4.550
                                td 
                                td -4.550
                                td -4.371
                                td             
                            tr.colspan4
                                td(style="text-align:center;font-weight:700 !important;" colspan="4") Tole
                                td(style="color:red;") 22.527
                                td(style="color:red;") 
                                td
                                td(style="color:red;") -22.527
                                td(style="color:red;") -29.527
                                td
                            tr
                                td
                                    .btn-control.row
                                        button.col-6
                                            i.fas.fa-edit
                                        button.col-6
                                            i.fas.fa-trash-alt
                                td G01001-02B
                                td tole: 0.5 x 275 x890/f53/4sp
                                td CT10271
                                td 22/07/2019
                                td 4.550
                                td 
                                td -4.550
                                td -4.371
                                td              
                            tr
                                td
                                    .btn-control.row
                                        button.col-6
                                            i.fas.fa-edit
                                        button.col-6
                                            i.fas.fa-trash-alt
                                td G01001-02B
                                td tole: 0.5 x 275 x890/f53/4sp
                                td CT10271
                                td 22/07/2019
                                td 4.550
                                td 
                                td -4.550
                                td -4.371
                                td  
                            tr.colspan4
                                td(style="text-align:center;font-weight:700 !important;" colspan="4") Tole đuôi
                                td(style="color:red;") 2.517
                                td(style="color:red;") 
                                td
                                td(style="color:red;") -2.517
                                td(style="color:red;") -725
                                td  
                            tr
                                td
                                    .btn-control.row
                                        button.col-6
                                            i.fas.fa-edit
                                        button.col-6
                                            i.fas.fa-trash-alt
                                td G01001-02B
                                td tole: 0.5 x 275 x890/f53/4sp
                                td CT10271
                                td 22/07/2019
                                td 4.550
                                td 
                                td -4.550
                                td -4.371
                                td 
                            tr
                                td
                                    .btn-control.row
                                        button.col-6
                                            i.fas.fa-edit
                                        button.col-6
                                            i.fas.fa-trash-alt
                                td G01001-02B
                                td tole: 0.5 x 275 x890/f53/4sp
                                td CT10271
                                td 22/07/2019
                                td 960
                                td 960
                                td 
                                td 
                                td 100.0
                            tr
                                td
                                    .btn-control.row
                                        button.col-6
                                            i.fas.fa-edit
                                        button.col-6
                                            i.fas.fa-trash-alt
                                td G01001-02B
                                td tole: 0.5 x 275 x890/f53/4sp
                                td CT10271
                                td 22/07/2019
                                td 1.700
                                td 1.700
                                td 
                                td 
                                td 100.0
                                                                                                                                                                                                                                                                                                       