extends ../layouts/layout.pug
block main-content
    .page-container
        include ../patials/sidebar.pug
        .page-content
            h1.text-center Chi tiết tole gia công
            .box-title-001
                h6.mg-r3.mg-l3(style="font-style:italic;") Theo HĐ cắt tole từ ngày 22/07/2019
                h6.mg-r3.mg-l3(style="font-style:italic;") Đến ngày: 29/07/2019
            .mt-2
                .responsive-table-defaults
                    table.table-defaults
                        thead.table-head
                            tr
                                th Mã Tole
                                th Tên tole
                                th SL HĐ
                                th SL Nhập
                                th Chênh lệch
                                th

                        tbody.table-body.bd-bt-01    
                            tr.row-group(style="color: red")
                                td(style="color: red") F01001-003
                                td(style="color: red") tole cuộn: 0.50 x 1.219 mm
                                td(style="color: red") 10,380,0
                                td(style="color: red") CT10270
                                td(style="color: red") (29.000)
                                td
                                    .btn-control.row
                                        button.col-6
                                            i.fas.fa-edit
                                        button.col-6
                                            i.fas.fa-trash-alt
                            tr.row-group
                                td G01001-101
                                td tole: 0.5 x 930 /B08/ 8sp
                                td 7.920.0
                                td 
                                td 7.920.0
                                td
                                    .btn-control.row
                                        button.col-6
                                            i.fas.fa-edit
                                        button.col-6
                                            i.fas.fa-trash-alt
                            tr.row-group
                                td G01001-101
                                td tole: 0.5 x 930 /B08/ 8sp
                                td 7.920.0
                                td 
                                td 7.920.0
                                td
                                    .btn-control.row
                                        button.col-6
                                            i.fas.fa-edit
                                        button.col-6
                                            i.fas.fa-trash-alt
                        tbody.table-body.bd-bt-01    
                            tr.row-group(style="color: red")
                                td(style="color: red") F01001-003
                                td(style="color: red") tole cuộn: 0.50 x 1.219 mm
                                td(style="color: red") 10,380,0
                                td(style="color: red") CT10270
                                td(style="color: red") (29.000)
                                td
                                    .btn-control.row
                                        button.col-6
                                            i.fas.fa-edit
                                        button.col-6
                                            i.fas.fa-trash-alt
                            tr.row-group
                                td G01001-101
                                td tole: 0.5 x 930 /B08/ 8sp
                                td 7.920.0
                                td 
                                td 7.920.0
                                td
                                    .btn-control.row
                                        button.col-6
                                            i.fas.fa-edit
                                        button.col-6
                                            i.fas.fa-trash-alt
                            tr.row-group
                                td G01001-101
                                td tole: 0.5 x 930 /B08/ 8sp
                                td 7.920.0
                                td 
                                td 7.920.0
                                td
                                    .btn-control.row
                                        button.col-6
                                            i.fas.fa-edit
                                        button.col-6
                                            i.fas.fa-trash-alt
                        tbody.table-body.bd-bt-01    
                            tr.row-group
                                th Chi tiết nhập kho
                                th 
                                th 
                                th 
                                th 
                                td
                                    .btn-control.row
                                        button.col-6
                                            i.fas.fa-edit
                                        button.col-6
                                            i.fas.fa-trash-alt
                            tr.row-group
                                td G01001-101
                                td tole: 0.5 x 930 /B08/ 8sp
                                td 7.920.0
                                td 
                                td 7.920.0
                                td
                                    .btn-control.row
                                        button.col-6
                                            i.fas.fa-edit
                                        button.col-6
                                            i.fas.fa-trash-alt
                        tbody.table-body.bd-bt-01    
                            tr.row-group(style="color: red")
                                td(style="color: red") F01001-003
                                td(style="color: red") tole cuộn: 0.50 x 1.219 mm
                                td(style="color: red") 10,380,0
                                td(style="color: red") CT10270
                                td(style="color: red") (29.000)
                                td
                                    .btn-control.row
                                        button.col-6
                                            i.fas.fa-edit
                                        button.col-6
                                            i.fas.fa-trash-alt
                            tr.row-group
                                td G01001-101
                                td tole: 0.5 x 930 /B08/ 8sp
                                td 7.920.0
                                td 
                                td 7.920.0
                                td
                                    .btn-control.row
                                        button.col-6
                                            i.fas.fa-edit
                                        button.col-6
                                            i.fas.fa-trash-alt
                            tr.row-group
                                td G01001-101
                                td tole: 0.5 x 930 /B08/ 8sp
                                td 7.920.0
                                td 
                                td 7.920.0
                                td
                                    .btn-control.row
                                        button.col-6
                                            i.fas.fa-edit
                                        button.col-6
                                            i.fas.fa-trash-alt
                        tbody.table-body.bd-bt-01    
                            tr.row-group(style="color: red")
                                td(style="color: red") F01001-003
                                td(style="color: red") tole cuộn: 0.50 x 1.219 mm
                                td(style="color: red") 10,380,0
                                td(style="color: red") CT10270
                                td(style="color: red") (29.000)
                                td
                                    .btn-control.row
                                        button.col-6
                                            i.fas.fa-edit
                                        button.col-6
                                            i.fas.fa-trash-alt
                            tr.row-group
                                td G01001-101
                                td tole: 0.5 x 930 /B08/ 8sp
                                td 7.920.0
                                td 
                                td 7.920.0
                                td
                                    .btn-control.row
                                        button.col-6
                                            i.fas.fa-edit
                                        button.col-6
                                            i.fas.fa-trash-alt
                            tr.row-group
                                td G01001-101
                                td tole: 0.5 x 930 /B08/ 8sp
                                td 7.920.0
                                td 
                                td 7.920.0
                                td
                                    .btn-control.row
                                        button.col-6
                                            i.fas.fa-edit
                                        button.col-6
                                            i.fas.fa-trash-alt
                        tbody.table-body.bd-bt-01    
                            tr.row-group
                                th Chi tiết nhập kho
                                th 
                                th 
                                th 
                                th 
                                td
                                    .btn-control.row
                                        button.col-6
                                            i.fas.fa-edit
                                        button.col-6
                                            i.fas.fa-trash-alt
                            tr.row-group
                                td G01001-101
                                td 
                                td 
                                td 
                                td 7.920.
                                td
                                    .btn-control.row
                                        button.col-6
                                            i.fas.fa-edit
                                        button.col-6
                                            i.fas.fa-trash-alt
                            tr.row-group
                                td G01001-101
                                td 
                                td 
                                td 
                                td 7.920.0
                                td
                                    .btn-control.row
                                        button.col-6
                                            i.fas.fa-edit
                                        button.col-6
                                            i.fas.fa-trash-alt
                            tr.row-group
                                td G01001-101
                                td 
                                td 
                                td 
                                td 7.920.0
                                td
                                    .btn-control.row
                                        button.col-6
                                            i.fas.fa-edit
                                        button.col-6
                                            i.fas.fa-trash-alt
                            tr.row-group
                                td G01001-101
                                td 
                                td 
                                td 
                                td 7.920.0
                                td
                                    .btn-control.row
                                        button.col-6
                                            i.fas.fa-edit
                                        button.col-6
                                            i.fas.fa-trash-alt
                        tbody.table-body.bd-bt-01    
                            tr.row-group(style="color: red")
                                td(style="color: red") F01001-003
                                td(style="color: red") tole cuộn: 0.50 x 1.219 mm
                                td(style="color: red") 10,380,0
                                td(style="color: red") CT10270
                                td(style="color: red") (29.000)
                                td
                                    .btn-control.row
                                        button.col-6
                                            i.fas.fa-edit
                                        button.col-6
                                            i.fas.fa-trash-alt
                            tr.row-group
                                td G01001-101
                                td tole: 0.5 x 930 /B08/ 8sp
                                td 7.920.0
                                td 
                                td 7.920.0
                                td
                                    .btn-control.row
                                        button.col-6
                                            i.fas.fa-edit
                                        button.col-6
                                            i.fas.fa-trash-alt
                            tr.row-group
                                td G01001-101
                                td tole: 0.5 x 930 /B08/ 8sp
                                td 7.920.0
                                td 
                                td 7.920.0
                                td
                                    .btn-control.row
                                        button.col-6
                                            i.fas.fa-edit
                                        button.col-6
                                            i.fas.fa-trash-alt
                                            
                        tbody.table-body.bd-bt-01    
                            tr.row-group(style="color: red")
                                td(style="color: red") F01001-003
                                td(style="color: red") tole cuộn: 0.50 x 1.219 mm
                                td(style="color: red") 10,380,0
                                td(style="color: red") CT10270
                                td(style="color: red") (29.000)
                                td
                                    .btn-control.row
                                        button.col-6
                                            i.fas.fa-edit
                                        button.col-6
                                            i.fas.fa-trash-alt
                            tr.row-group
                                td G01001-101
                                td tole: 0.5 x 930 /B08/ 8sp
                                td 7.920.0
                                td 
                                td 7.920.0
                                td
                                    .btn-control.row
                                        button.col-6
                                            i.fas.fa-edit
                                        button.col-6
                                            i.fas.fa-trash-alt
                            tr.row-group
                                td G01001-101
                                td tole: 0.5 x 930 /B08/ 8sp
                                td 7.920.0
                                td 
                                td 7.920.0
                                td
                                    .btn-control.row
                                        button.col-6
                                            i.fas.fa-edit
                                        button.col-6
                                            i.fas.fa-trash-alt
                        tbody.table-body.bd-bt-01    
                            tr.row-group(style="color: red")
                                td(style="color: red") F01001-003
                                td(style="color: red") tole cuộn: 0.50 x 1.219 mm
                                td(style="color: red") 10,380,0
                                td(style="color: red") CT10270
                                td(style="color: red") (29.000)
                                td
                                    .btn-control.row
                                        button.col-6
                                            i.fas.fa-edit
                                        button.col-6
                                            i.fas.fa-trash-alt
                            tr.row-group
                                td G01001-101
                                td tole: 0.5 x 930 /B08/ 8sp
                                td 7.920.0
                                td 
                                td 7.920.0
                                td
                                    .btn-control.row
                                        button.col-6
                                            i.fas.fa-edit
                                        button.col-6
                                            i.fas.fa-trash-alt
                            tr.row-group
                                td G01001-101
                                td tole: 0.5 x 930 /B08/ 8sp
                                td 7.920.0
                                td
                                td 7.920.0
                                td
                                    .btn-control.row
                                        button.col-6
                                            i.fas.fa-edit
                                        button.col-6
                                            i.fas.fa-trash-alt
