extends ../layouts/layout.pug
block main-content
    .page-container
        include ../patials/sidebar.pug
        .page-content
            h1.text-center Tổng Hợp Quyết Toán
            h5.text-center Từ Ngày 29/07/2019 Đến Ngày 29/07/2019
            .mt-2
                .responsive-table-defaults
                    table.table-defaults
                        thead.table-head
                            tr
                                th 
                                th STT
                                th Mã vật tư
                                th Tên vật tư
                                th DVT
                                th Tồn đầu
                                th Nhập
                                th Xuất
                                th Tồn cuối
                        tbody.table-body                            
                            tr
                                tr
                                    td
                                        .btn-control.row
                                            button.col-6
                                                i.fas.fa-edit
                                            button.col-6
                                                i.fas.fa-trash-alt
                                    td 1
                                    td I1A009-954
                                    td Võ hộp cân 6"
                                    td Cái
                                    td
                                    td 44.008.0
                                    td
                                    td
                            tr
                                tr
                                    td
                                        .btn-control.row
                                            button.col-6
                                                i.fas.fa-edit
                                            button.col-6
                                                i.fas.fa-trash-alt
                                    td 1
                                    td I1A009-954
                                    td Võ hộp cân 6"
                                    td Cái
                                    td
                                    td 44.008.0
                                    td
                                    td
                            tr
                                tr
                                    td
                                        .btn-control.row
                                            button.col-6
                                                i.fas.fa-edit
                                            button.col-6
                                                i.fas.fa-trash-alt
                                    td 1
                                    td I1A009-954
                                    td Võ hộp cân 6"
                                    td Cái
                                    td
                                    td 44.008.0
                                    td
                                    td
                            
