extends ../layouts/layout.pug
block main-content
    .page-container
        include ../patials/sidebar.pug
        .page-content.position-re
            h3.text-center Chi tiết kế hoạch sản xuất
            h6.text-center Từ ngày 25/02/2019 đến 02/03/2019
            include ../patials/form-chinhsua.pug
            include ../patials/table-default.pug
            include ../patials/button-ctkhsx.pug

