extends ../layouts/layout.pug
block main-content
    .page-container
        include ../patials/sidebar.pug
        .page-content
            h1.text-center Danh mục phụ lục ISO
            include ../patials/table.pug