extends ../layouts/layout.pug
block main-content
    .page-container
        include ../patials/sidebar.pug
        .page-content
            h1.text-center Danh mục vật tư phân loại chi tiết
            include ../patials/form-category-classify-supplies.pug