extends ../layouts/layout.pug
block main-content
    .page-container
        include ../patials/sidebar.pug
        .page-content
            h3 Danh mục - chi tiết vật tư
            //- include ../patials/danhmuc-vattuchitiet-content.pug
            include ../patials/form-search3.pug
            include ../patials/table.pug
            include ../patials/form-add-fix.pug