extends ../layouts/layout.pug
block main-content
    .page-container
        include ../patials/sidebar.pug
        .page-content
            include ../patials/table.pug
            include ../patials/table-defaults-2.pug