extends ../layouts/layout.pug
block main-content
    .page-container
        include ../patials/sidebar.pug
        .page-content
            h1.text-center Định mức vật tư / 1kg
            include ../patials/table.pug