extends ../layouts/layout.pug
block main-content
    .page-container
        include ../patials/sidebar.pug
        .page-content
            h1.text-center Định mức sử dụng vật tư trong tuần
            include ../patials/table.pug