extends ../layouts/layout.pug
block main-content
    .page-container
        include ../patials/sidebar.pug
        .page-content
            h1.text-center Chi tiết hóa đơn (Bán hàng)
            include ../patials/form-kd-banhang2.pug