extends ../layouts/layout.pug
block main-content
    .page-container
        include ../patials/sidebar.pug
        .page-content
            h1.text-center Thông tin chi tiết nhà cung cấp
            .panel.panel-default(style='margin-bottom:15px;')
                .panel-heading
                .panel-body
                    row
                        .col-sm-6
                            .form-group.col-sm-12.mg-t1.mg-b1
                                label.control-label Tên NCC:
                                input.form-control(type='text',placeholder="Cty TNHH An Lập")
                            .form-group.col-sm-12.mg-t1.mg-b1
                                label.control-label Ngân hàng cung cấp:
                                input.form-control(type='text',placeholder="Chuyên cung cấp các loại giấy thùng")
                            .form-group.col-sm-12.mg-t1.mg-b1
                                label.control-label Ghi chú:
                                input.form-control(type='text',placeholder="Vừa điều chỉnh (tăng) giá thùng giấy")
                        .col-sm-6
                            .form-group.col-sm-12.mg-t1.mg-b1
                                label.control-label Địa chỉ:
                                input.form-control(type='text',placeholder="123B Đường 23, Bình Thạnh, TPHCM")
                            .form-group.col-sm-12.mg-t1.mg-b1
                                label.control-label MST:
                                input.form-control(text='number',placeholder="1111111111")
                            .form-group.col-sm-12.mg-t1.mg-b1
                                label.control-label Điện thoại:
                                input.form-control(text='number',placeholder="123456789")
                            .form-group.col-sm-12.mg-t1.mg-b1
                                label.control-label Số fax:
                                input.form-control(text='number',placeholder="123456789")
                            .form-group.col-sm-12.mg-t1.mg-b1
                                label.control-label Email:
                                input.form-control(text='text',placeholder="abc@gmail.com")
                            .form-group.col-sm-12.mg-t1.mg-b1
                                label.control-label Người liên hệ:
                                input.form-control(text='text',placeholder="Lý Hoàng")
                            .form-group.col-sm-12.mg-t1.mg-b1
                                label.control-label Thời hạn thanh toán:
                                input.form-control(text='text',placeholder="25 ngày")
                        .form-actions.text-center.col-sm-12.mg-t3.mg-b1.pd-0
                            button.btn.btn-primary(type='submit') Xoá
                            button.btn.btn-primary.mg-l-3(type='submit') Chỉnh sửa
                            button.btn.btn-primary.mg-l-3(type='submit') Cập nhật
                                        
                
                    
