extends ../layouts/layout.pug
block main-content
    .page-container
        include ../patials/sidebar.pug
        .page-content
            h1.text-center Tồn kho sản phẩm
            .row.mg-t3 
                .col-sm-4
                    .panel.panel-default(style="margin-bottom:15px")
                        .panel-heading
                            h6.panel-title
                                |  Tìm kiếm nâng cao
                        .panel-body
                            .row
                                .form-group.col-sm-7.mg-t1.bg-b1
                                    form.col-sm-12.search-line.pd-0.bd-0
                                        input.form-control.autocomplete.ui-autocomplete-input(type='text', placeholder='Tìm theo mã', autocomplete='off' style="padding: 9px 10px 10px 32px;")
                                .col-sm-5.mg-t1.mg-b1
                                    .box-pagination
                                        .pagination-table.text-left-custom.float-none
                                            a(href="#") Nâng cao
                            .row
                                .form-group.mg-t1.mg-b1.col-sm-12
                                    .block-inner.mg-0
                                        label.checkbox-inline
                                            .checker
                                                span
                                                    input.styled(type='checkbox')
                                        label.control-label W1FN00-003 

                                .form-group.mg-t1.mg-b1.col-sm-12
                                    .block-inner.mg-0
                                        label.checkbox-inline
                                            .checker
                                                span
                                                    input.styled(type='checkbox')
                                        label.control-label W1HN00-003 

            .row.mg-t2
                .col-sm-12
                    .table-title.row
                        .field-filter.text-right
                            select
                                option(value="") 10
                                option(value="") 25
                                option(value="") 50
                                option(value="") 100
                    .responsive-table-defaults
                        table.table-defaults
                            thead.table-head
                                tr
                                    
                                    th Mã Sản Phẩm
                                    th Tên
                                    th Số Lượng Tồn Kho
                                    th Số N
                                    th 
                    
                            tbody.table-body
                                tr
                                    
                                    td W1FN00-003
                                    td Cân 60kg(Xanh granite)
                                    td 3000
                                    td 1500
                                    td
                                        .btn-control.row
                                            button.col-6
                                                i.fas.fa-edit
                                            button.col-6
                                                i.fas.fa-trash-alt

                                tr
                                    

                                    td W1HN00-003
                                    td Cân 100kg(Xanh granite)
                                    td 2000
                                    td 800
                                    td
                                        .btn-control.row
                                            button.col-6
                                                i.fas.fa-edit
                                            button.col-6
                                                i.fas.fa-trash-alt
                                tr
                                    

                                    td 
                                    td 
                                    td 
                                    td 
                                    td
                                        .btn-control.row
                                            button.col-6
                                                i.fas.fa-edit
                                            button.col-6
                                                i.fas.fa-trash-alt
                                
                                tr
                                    
                                    td 
                                    td 
                                    td
                                    td 
                                    td
                                        .btn-control.row
                                            button.col-6
                                                i.fas.fa-edit
                                            button.col-6
                                                i.fas.fa-trash-alt
                    .box-pagination
                        .pagination-table
                            a(href="#") Trang đầu 
                            a(href="#") <<
                            a.bg-hover(href="#") 1
                            a.bg-hover(href="#") 2
                            a.bg-hover(href="#") 3
                            a(href="#") >> 
                            a(href="#") Trang cuối