extends ../layouts/layout.pug
block main-content
    .page-container
        include ../patials/sidebar.pug
        .page-content
            h1.text-center Kế hoạch Sản xuất - Nhập kho - Xuất hàng
            h2.text-center Từ ngày 25/02/2019 đến 02/03/2019

            .row.mag-t3    
                .col-sm-12
                    .form-group.mg-t1.mg-b1.col-sm-5.pd-0
                        label.col-sm-2.control-label.pd-0 Xưởng 4
                        .col-sm-1.pd-0
                            span
                                input.styled(type='checkbox')

                        label.col-sm-3.control-label.pd-0.mg-0 Thêm giờ


            .row
                .col-sm-12
                    .responsive-table-defaults
                        table.table-defaults
                            thead.table-head
                                tr
                                    th 
                                    th Mã HĐ
                                    th Số HĐ
                                    th Ngày Lập
                                    th Lượng
                                    th Tiền
                                    th Ngày KT
                                    th Mã HĐ
                                    th Số HĐ
                                    th Ngày Lập
                                    th Lượng
                                    th Tiền
                                    th Ngày KT
                                    th Mã HĐ
                                    th Số HĐ
                                    th Ngày Lập
                                    th Lượng
                                    th Tiền
                                    th Ngày KT
                            tbody.table-body
                                tr
                                    td
                                        .btn-control.row
                                            button.col-6
                                                i.fas.fa-edit
                                            button.col-6
                                                i.fas.fa-trash-alt
                                    td 0123
                                    td 111
                                    td 11/02/19
                                    td 1.11
                                    td 0
                                    td 14/04/19
                                    td 0123
                                    td 111
                                    td 11/02/19
                                    td 1.11
                                    td 0
                                    td 14/04/19
                                    td 0123
                                    td 111
                                    td 11/02/19
                                    td 1.11
                                    td 0
                                    td 14/04/19
                                tr
                                    td
                                        .btn-control.row
                                            button.col-6
                                                i.fas.fa-edit
                                            button.col-6
                                                i.fas.fa-trash-alt
                                    td 0123
                                    td 111
                                    td 11/02/19
                                    td 1.11
                                    td 0
                                    td 14/04/19
                                    td 0123
                                    td 111
                                    td 11/02/19
                                    td 1.11
                                    td 0
                                    td 14/04/19
                                    td 0123
                                    td 111
                                    td 11/02/19
                                    td 1.11
                                    td 0
                                    td 14/04/19
                                tr
                                    td
                                        .btn-control.row
                                            button.col-6
                                                i.fas.fa-edit
                                            button.col-6
                                                i.fas.fa-trash-alt
                                    td 0123
                                    td 111
                                    td 11/02/19
                                    td 1.11
                                    td 0
                                    td 14/04/19
                                    td 0123
                                    td 111
                                    td 11/02/19
                                    td 1.11
                                    td 0
                                    td 14/04/19
                                    td 0123
                                    td 111
                                    td 11/02/19
                                    td 1.11
                                    td 0
                                    td 14/04/19
                                tr
                                    td
                                        .btn-control.row
                                            button.col-6
                                                i.fas.fa-edit
                                            button.col-6
                                                i.fas.fa-trash-alt
                                    td 0123
                                    td 111
                                    td 11/02/19
                                    td 1.11
                                    td 0
                                    td 14/04/19
                                    td 0123
                                    td 111
                                    td 11/02/19
                                    td 1.11
                                    td 0
                                    td 14/04/19
                                    td 0123
                                    td 111
                                    td 11/02/19
                                    td 1.11
                                    td 0
                                    td 14/04/19
                                tr
                                    td
                                        .btn-control.row
                                            button.col-6
                                                i.fas.fa-edit
                                            button.col-6
                                                i.fas.fa-trash-alt
                                    td 0123
                                    td 111
                                    td 11/02/19
                                    td 1.11
                                    td 0
                                    td 14/04/19
                                    td 0123
                                    td 111
                                    td 11/02/19
                                    td 1.11
                                    td 0
                                    td 14/04/19
                                    td 0123
                                    td 111
                                    td 11/02/19
                                    td 1.11
                                    td 0
                                    td 14/04/19
                                tr
                                    td
                                        .btn-control.row
                                            button.col-6
                                                i.fas.fa-edit
                                            button.col-6
                                                i.fas.fa-trash-alt
                                    td 0123
                                    td 111
                                    td 11/02/19
                                    td 1.11
                                    td 0
                                    td 14/04/19
                                    td 0123
                                    td 111
                                    td 11/02/19
                                    td 1.11
                                    td 0
                                    td 14/04/19
                                    td 0123
                                    td 111
                                    td 11/02/19
                                    td 1.11
                                    td 0
                                    td 14/04/19
                            tfoot.table-foot
                                tr 
                                    td Tổng
                                    td
                                    td
                                    td
                                    td
                                    td
                                    td
                                    td
                                    td
                                    td
                                    td
                                    td
                                    td
                                    td
                                    td
                                    td
                                    td
                                    td
                                    td
            
            .row.mg-t3
                .col-sm-12
                    include ../patials/edit2.pug