extends ../layouts/layout.pug
block main-content
    .page-container
        include ../patials/sidebar.pug
        .page-content
            h1.text-center Kế hoạch nhập kho
            h4 Xưởng 06
            h5 25/2
            br
            h2.mg-t3.mg-b3 Nội địa
            .row
                .col-sm-12
                    .responsive-table-defaults.taodinhmucvattu-table
                            table.table-defaults
                                thead.table-head
                                    tr
                                        th 
                                        th Mã HĐ
                                        th Số HĐ
                                        th Ngày Lập
                                        th Lượng
                                        th Tiền
                                        th Ngày KT
                                        th Mã HĐ
                                        th Số HĐ
                                        th Ngày Lập
                                        th Lượng
                                        th Tiền
                                        th Ngày KT
                                        th Mã HĐ
                                        th Số HĐ
                                        th Ngày Lập
                                        th Lượng
                                        th Tiền
                                        th Ngày KT
                                tbody.table-body
                                    tr
                                        td
                                            .btn-control.row
                                                button.col-6
                                                    i.fas.fa-edit
                                                button.col-6
                                                    i.fas.fa-trash-alt
                                        td 0123
                                        td 111
                                        td 11/02/19
                                        td 1.11
                                        td 0
                                        td 14/04/19
                                        td 0123
                                        td 111
                                        td 11/02/19
                                        td 1.11
                                        td 0
                                        td 14/04/19
                                        td 0123
                                        td 111
                                        td 11/02/19
                                        td 1.11
                                        td 0
                                        td 14/04/19
                                    tr
                                        td
                                            .btn-control.row
                                                button.col-6
                                                    i.fas.fa-edit
                                                button.col-6
                                                    i.fas.fa-trash-alt
                                        td 0123
                                        td 111
                                        td 11/02/19
                                        td 1.11
                                        td 0
                                        td 14/04/19
                                        td 0123
                                        td 111
                                        td 11/02/19
                                        td 1.11
                                        td 0
                                        td 14/04/19
                                        td 0123
                                        td 111
                                        td 11/02/19
                                        td 1.11
                                        td 0
                                        td 14/04/19
                                    tr
                                        td
                                            .btn-control.row
                                                button.col-6
                                                    i.fas.fa-edit
                                                button.col-6
                                                    i.fas.fa-trash-alt
                                        td 0123
                                        td 111
                                        td 11/02/19
                                        td 1.11
                                        td 0
                                        td 14/04/19
                                        td 0123
                                        td 111
                                        td 11/02/19
                                        td 1.11
                                        td 0
                                        td 14/04/19
                                        td 0123
                                        td 111
                                        td 11/02/19
                                        td 1.11
                                        td 0
                                        td 14/04/19
                                    tr
                                        td
                                            .btn-control.row
                                                button.col-6
                                                    i.fas.fa-edit
                                                button.col-6
                                                    i.fas.fa-trash-alt
                                        td 0123
                                        td 111
                                        td 11/02/19
                                        td 1.11
                                        td 0
                                        td 14/04/19
                                        td 0123
                                        td 111
                                        td 11/02/19
                                        td 1.11
                                        td 0
                                        td 14/04/19
                                        td 0123
                                        td 111
                                        td 11/02/19
                                        td 1.11
                                        td 0
                                        td 14/04/19
                                    tr
                                        td
                                            .btn-control.row
                                                button.col-6
                                                    i.fas.fa-edit
                                                button.col-6
                                                    i.fas.fa-trash-alt
                                        td 0123
                                        td 111
                                        td 11/02/19
                                        td 1.11
                                        td 0
                                        td 14/04/19
                                        td 0123
                                        td 111
                                        td 11/02/19
                                        td 1.11
                                        td 0
                                        td 14/04/19
                                        td 0123
                                        td 111
                                        td 11/02/19
                                        td 1.11
                                        td 0
                                        td 14/04/19
                                    tr
                                        td
                                            .btn-control.row
                                                button.col-6
                                                    i.fas.fa-edit
                                                button.col-6
                                                    i.fas.fa-trash-alt
                                        td 0123
                                        td 111
                                        td 11/02/19
                                        td 1.11
                                        td 0
                                        td 14/04/19
                                        td 0123
                                        td 111
                                        td 11/02/19
                                        td 1.11
                                        td 0
                                        td 14/04/19
                                        td 0123
                                        td 111
                                        td 11/02/19
                                        td 1.11
                                        td 0
                                        td 14/04/19
                                tfoot.table-foot
                                    tr 
                                        td Tổng
                                        td
                                        td
                                        td
                                        td
                                        td
                                        td
                                        td
                                        td
                                        td
                                        td
                                        td
                                        td
                                        td
                                        td
                                        td
                                        td
                                        td
                                        td
            h2.mg-t3.mg-b3 Xuất khẩu
            .row.mg-t3.mg-b3
                .col-sm-12
                    .responsive-table-defaults.taodinhmucvattu-table
                        table.table-defaults
                            thead.table-head
                                tr
                                    th 
                                    th Mã HĐ
                                    th Số HĐ
                                    th Ngày Lập
                                    th Lượng
                                    th Tiền
                                    th Ngày KT
                                    th Mã HĐ
                                    th Số HĐ
                                    th Ngày Lập
                                    th Lượng
                                    th Tiền
                                    th Ngày KT
                                    th Mã HĐ
                                    th Số HĐ
                                    th Ngày Lập
                                    th Lượng
                                    th Tiền
                                    th Ngày KT
                            tbody.table-body
                                tr
                                    td
                                        .btn-control.row
                                            button.col-6
                                                i.fas.fa-edit
                                            button.col-6
                                                i.fas.fa-trash-alt
                                    td 0123
                                    td 111
                                    td 11/02/19
                                    td 1.11
                                    td 0
                                    td 14/04/19
                                    td 0123
                                    td 111
                                    td 11/02/19
                                    td 1.11
                                    td 0
                                    td 14/04/19
                                    td 0123
                                    td 111
                                    td 11/02/19
                                    td 1.11
                                    td 0
                                    td 14/04/19
                                tr
                                    td
                                        .btn-control.row
                                            button.col-6
                                                i.fas.fa-edit
                                            button.col-6
                                                i.fas.fa-trash-alt
                                    td 0123
                                    td 111
                                    td 11/02/19
                                    td 1.11
                                    td 0
                                    td 14/04/19
                                    td 0123
                                    td 111
                                    td 11/02/19
                                    td 1.11
                                    td 0
                                    td 14/04/19
                                    td 0123
                                    td 111
                                    td 11/02/19
                                    td 1.11
                                    td 0
                                    td 14/04/19
                                tr
                                    td
                                        .btn-control.row
                                            button.col-6
                                                i.fas.fa-edit
                                            button.col-6
                                                i.fas.fa-trash-alt
                                    td 0123
                                    td 111
                                    td 11/02/19
                                    td 1.11
                                    td 0
                                    td 14/04/19
                                    td 0123
                                    td 111
                                    td 11/02/19
                                    td 1.11
                                    td 0
                                    td 14/04/19
                                    td 0123
                                    td 111
                                    td 11/02/19
                                    td 1.11
                                    td 0
                                    td 14/04/19
                                tr
                                    td
                                        .btn-control.row
                                            button.col-6
                                                i.fas.fa-edit
                                            button.col-6
                                                i.fas.fa-trash-alt
                                    td 0123
                                    td 111
                                    td 11/02/19
                                    td 1.11
                                    td 0
                                    td 14/04/19
                                    td 0123
                                    td 111
                                    td 11/02/19
                                    td 1.11
                                    td 0
                                    td 14/04/19
                                    td 0123
                                    td 111
                                    td 11/02/19
                                    td 1.11
                                    td 0
                                    td 14/04/19
                                tr
                                    td
                                        .btn-control.row
                                            button.col-6
                                                i.fas.fa-edit
                                            button.col-6
                                                i.fas.fa-trash-alt
                                    td 0123
                                    td 111
                                    td 11/02/19
                                    td 1.11
                                    td 0
                                    td 14/04/19
                                    td 0123
                                    td 111
                                    td 11/02/19
                                    td 1.11
                                    td 0
                                    td 14/04/19
                                    td 0123
                                    td 111
                                    td 11/02/19
                                    td 1.11
                                    td 0
                                    td 14/04/19
                                tr
                                    td
                                        .btn-control.row
                                            button.col-6
                                                i.fas.fa-edit
                                            button.col-6
                                                i.fas.fa-trash-alt
                                    td 0123
                                    td 111
                                    td 11/02/19
                                    td 1.11
                                    td 0
                                    td 14/04/19
                                    td 0123
                                    td 111
                                    td 11/02/19
                                    td 1.11
                                    td 0
                                    td 14/04/19
                                    td 0123
                                    td 111
                                    td 11/02/19
                                    td 1.11
                                    td 0
                                    td 14/04/19
                            tfoot.table-foot
                                tr 
                                    td Tổng
                                    td
                                    td
                                    td
                                    td
                                    td
                                    td
                                    td
                                    td
                                    td
                                    td
                                    td
                                    td
                                    td
                                    td
                                    td
                                    td
                                    td
                                    td
            .row.mg-t3.mg-b3
                .col-sm-9
                    .panel.panel-default
                        .panel-heading
                            h6.panel-title
                                i.icon-grid
                                |  Kế hoạch nhập kho
                        .panel-body
                            .col-sm-12
                                .form-group.col-sm-12.mg-t1.mg-b1
                                    label.control-label  
                                    .d-flex   
                                        input.form-control(type='text', placeholder='T2')
                                        input.form-control(type='text', placeholder='T3', style="margin:0px;")
                                        input.form-control(type='text', placeholder='T4', style="margin:0px;")
                                        input.form-control(type='text', placeholder='T5', style="margin:0px;")
                                        input.form-control(type='text', placeholder='T6', style="margin:0px;")
                                        input.form-control(type='text', placeholder='T7', style="margin:0px;")
                                        input.form-control(type='text', placeholder='CN', style="margin:0px;")
                            .col-sm-12
                                .form-group.col-sm-12.mg-t1.mg-b1
                                    label.control-label.col-sm-12.pd-0  Tổng  
                                    input.form-control(type='number', placeholder='800')
                            .col-sm-12
                                .form-group.col-sm-12                                
                                    button.btn.btn-primary(type='submit') Cập nhật
                .col-sm-3
                    button.btn.btn-primary(type='submit', style="width: 150px; margin-top: 5px; margin-right: 5px") Chuyển sang xưởng
                    button.btn.btn-primary(type='submit',style="width: 150px;  margin-top: 5px; margin-right: 5px") Lưu
                    button.btn.btn-primary(type='submit',style="width: 150px;  margin-top: 5px; margin-right: 5px") Hủy
                    button.btn.btn-primary(type='submit',style="width: 150px;  margin-top: 5px; margin-right: 5px") Hoàn thành
                
