extends ../layouts/layout.pug
block main-content
    .page-container
        include ../patials/sidebar.pug
        .page-content
            h1.text-center Theo dõi yêu cầu mua hàng
            .panel.panel-default(style='margin-bottom:15px;')
                .panel-heading
                    h6.panel-title
                        i.fas.fa-search(style='line-height:1.5')
                        |  Theo dõi
                .panel-body
                    .row
                        .col-sm-6
                            .form-group.col-sm-6.mg-t1.mg-b1
                                label Số phiếu yêu cầu:
                                input.form-control(type='text',placeholder="Bộ")
                            .form-group.col-sm-6.mg-t1.mg-b1
                                label.control-label Ngày Lập: 
                                input.form-control(type='date', name="date")
                            .form-group.col-sm-12.mg-t1.mg-b1
                                label Y/c KT:
                                input.form-control(type='text')
                            .form-group.col-sm-12.mg-t1.mg-b1
                                label V/v:
                                input.form-control(type='text')
                        .col-sm-6
                            .form-group.col-sm-6.mg-t1.mg-b1
                                label.control-label Ngày dự kiến KT: 
                                input.form-control(type='date', name="date")
                            .form-group.col-sm-6.mg-t1.mg-b1
                                label.control-label Ngày hoàn tất: 
                                input.form-control(type='date', name="date")
                            .form-group.col-sm-12.mg-t1.mg-b1
                                label Địa điểm:
                                input.form-control(type='text',placeholder="Thủ Đức, TPHCM")
                            .form-group.col-sm-12.mg-t1.mg-b1
                                label Mục đích:
                                input.form-control(type='text',placeholder="phục vụ sản xuất")
            .row
                .col-sm-12
                    .panel.panel-default.mg-t3(style="margin-bottom:15px")
                        .panel-heading
                            h6.panel-title Danh sách đặt hàng
                        .panel-body
                            .responsive-table-defaults
                                table.table-defaults
                                    thead.table-head
                                        tr
                                            th 
                                            th Mã HĐ
                                            th Số HĐ
                                            th Ngày Lập
                                            th Lượng
                                            th Tiền
                                            th Ngày KT
                                            th Mã HĐ
                                            th Số HĐ
                                            th Ngày Lập
                                            th Lượng
                                            th Tiền
                                            th Ngày KT
                                            th Mã HĐ
                                            th Số HĐ
                                            th Ngày Lập
                                            th Lượng
                                            th Tiền
                                            th Ngày KT
                                    tbody.table-body
                                        tr
                                            td
                                                .btn-control.row
                                                    button.col-6
                                                        i.fas.fa-edit
                                                    button.col-6
                                                        i.fas.fa-trash-alt
                                            td 0123
                                            td 111
                                            td 11/02/19
                                            td 1.11
                                            td 0
                                            td 14/04/19
                                            td 0123
                                            td 111
                                            td 11/02/19
                                            td 1.11
                                            td 0
                                            td 14/04/19
                                            td 0123
                                            td 111
                                            td 11/02/19
                                            td 1.11
                                            td 0
                                            td 14/04/19
                                        tr
                                            td
                                                .btn-control.row
                                                    button.col-6
                                                        i.fas.fa-edit
                                                    button.col-6
                                                        i.fas.fa-trash-alt
                                            td 0123
                                            td 111
                                            td 11/02/19
                                            td 1.11
                                            td 0
                                            td 14/04/19
                                            td 0123
                                            td 111
                                            td 11/02/19
                                            td 1.11
                                            td 0
                                            td 14/04/19
                                            td 0123
                                            td 111
                                            td 11/02/19
                                            td 1.11
                                            td 0
                                            td 14/04/19
                                        tr
                                            td
                                                .btn-control.row
                                                    button.col-6
                                                        i.fas.fa-edit
                                                    button.col-6
                                                        i.fas.fa-trash-alt
                                            td 0123
                                            td 111
                                            td 11/02/19
                                            td 1.11
                                            td 0
                                            td 14/04/19
                                            td 0123
                                            td 111
                                            td 11/02/19
                                            td 1.11
                                            td 0
                                            td 14/04/19
                                            td 0123
                                            td 111
                                            td 11/02/19
                                            td 1.11
                                            td 0
                                            td 14/04/19
                                        tr
                                            td
                                                .btn-control.row
                                                    button.col-6
                                                        i.fas.fa-edit
                                                    button.col-6
                                                        i.fas.fa-trash-alt
                                            td 0123
                                            td 111
                                            td 11/02/19
                                            td 1.11
                                            td 0
                                            td 14/04/19
                                            td 0123
                                            td 111
                                            td 11/02/19
                                            td 1.11
                                            td 0
                                            td 14/04/19
                                            td 0123
                                            td 111
                                            td 11/02/19
                                            td 1.11
                                            td 0
                                            td 14/04/19
                                        tr
                                            td
                                                .btn-control.row
                                                    button.col-6
                                                        i.fas.fa-edit
                                                    button.col-6
                                                        i.fas.fa-trash-alt
                                            td 0123
                                            td 111
                                            td 11/02/19
                                            td 1.11
                                            td 0
                                            td 14/04/19
                                            td 0123
                                            td 111
                                            td 11/02/19
                                            td 1.11
                                            td 0
                                            td 14/04/19
                                            td 0123
                                            td 111
                                            td 11/02/19
                                            td 1.11
                                            td 0
                                            td 14/04/19
                                        tr
                                            td
                                                .btn-control.row
                                                    button.col-6
                                                        i.fas.fa-edit
                                                    button.col-6
                                                        i.fas.fa-trash-alt
                                            td 0123
                                            td 111
                                            td 11/02/19
                                            td 1.11
                                            td 0
                                            td 14/04/19
                                            td 0123
                                            td 111
                                            td 11/02/19
                                            td 1.11
                                            td 0
                                            td 14/04/19
                                            td 0123
                                            td 111
                                            td 11/02/19
                                            td 1.11
                                            td 0
                                            td 14/04/19
                                    tfoot.table-foot
                                        tr 
                                            td Tổng
                                            td
                                            td
                                            td
                                            td
                                            td
                                            td
                                            td
                                            td
                                            td
                                            td
                                            td
                                            td
                                            td
                                            td
                                            td
                                            td
                                            td
                                            td
            .row
                .form-actions.text-center.mg-b1.mg-t3
                    button.btn.btn-primary(type='submit')
                        i.fas.fa-chevron-down
            .row
                .col-sm-12
                    .panel.panel-default.mg-t3(style="margin-bottom:15px")
                        .panel-heading
                            h6.panel-title Danh sách đặt hàng
                        .panel-body
                            .responsive-table-defaults
                                table.table-defaults
                                    thead.table-head
                                        tr
                                            th 
                                            th Mã HĐ
                                            th Số HĐ
                                            th Ngày Lập
                                            th Lượng
                                            th Tiền
                                            th Ngày KT
                                            th Mã HĐ
                                            th Số HĐ
                                            th Ngày Lập
                                            th Lượng
                                            th Tiền
                                            th Ngày KT
                                            th Mã HĐ
                                            th Số HĐ
                                            th Ngày Lập
                                            th Lượng
                                            th Tiền
                                            th Ngày KT
                                    tbody.table-body
                                        tr
                                            td
                                                .btn-control.row
                                                    button.col-6
                                                        i.fas.fa-edit
                                                    button.col-6
                                                        i.fas.fa-trash-alt
                                            td 0123
                                            td 111
                                            td 11/02/19
                                            td 1.11
                                            td 0
                                            td 14/04/19
                                            td 0123
                                            td 111
                                            td 11/02/19
                                            td 1.11
                                            td 0
                                            td 14/04/19
                                            td 0123
                                            td 111
                                            td 11/02/19
                                            td 1.11
                                            td 0
                                            td 14/04/19
                                        tr
                                            td
                                                .btn-control.row
                                                    button.col-6
                                                        i.fas.fa-edit
                                                    button.col-6
                                                        i.fas.fa-trash-alt
                                            td 0123
                                            td 111
                                            td 11/02/19
                                            td 1.11
                                            td 0
                                            td 14/04/19
                                            td 0123
                                            td 111
                                            td 11/02/19
                                            td 1.11
                                            td 0
                                            td 14/04/19
                                            td 0123
                                            td 111
                                            td 11/02/19
                                            td 1.11
                                            td 0
                                            td 14/04/19
                                        tr
                                            td
                                                .btn-control.row
                                                    button.col-6
                                                        i.fas.fa-edit
                                                    button.col-6
                                                        i.fas.fa-trash-alt
                                            td 0123
                                            td 111
                                            td 11/02/19
                                            td 1.11
                                            td 0
                                            td 14/04/19
                                            td 0123
                                            td 111
                                            td 11/02/19
                                            td 1.11
                                            td 0
                                            td 14/04/19
                                            td 0123
                                            td 111
                                            td 11/02/19
                                            td 1.11
                                            td 0
                                            td 14/04/19
                                        tr
                                            td
                                                .btn-control.row
                                                    button.col-6
                                                        i.fas.fa-edit
                                                    button.col-6
                                                        i.fas.fa-trash-alt
                                            td 0123
                                            td 111
                                            td 11/02/19
                                            td 1.11
                                            td 0
                                            td 14/04/19
                                            td 0123
                                            td 111
                                            td 11/02/19
                                            td 1.11
                                            td 0
                                            td 14/04/19
                                            td 0123
                                            td 111
                                            td 11/02/19
                                            td 1.11
                                            td 0
                                            td 14/04/19
                                        tr
                                            td
                                                .btn-control.row
                                                    button.col-6
                                                        i.fas.fa-edit
                                                    button.col-6
                                                        i.fas.fa-trash-alt
                                            td 0123
                                            td 111
                                            td 11/02/19
                                            td 1.11
                                            td 0
                                            td 14/04/19
                                            td 0123
                                            td 111
                                            td 11/02/19
                                            td 1.11
                                            td 0
                                            td 14/04/19
                                            td 0123
                                            td 111
                                            td 11/02/19
                                            td 1.11
                                            td 0
                                            td 14/04/19
                                        tr
                                            td
                                                .btn-control.row
                                                    button.col-6
                                                        i.fas.fa-edit
                                                    button.col-6
                                                        i.fas.fa-trash-alt
                                            td 0123
                                            td 111
                                            td 11/02/19
                                            td 1.11
                                            td 0
                                            td 14/04/19
                                            td 0123
                                            td 111
                                            td 11/02/19
                                            td 1.11
                                            td 0
                                            td 14/04/19
                                            td 0123
                                            td 111
                                            td 11/02/19
                                            td 1.11
                                            td 0
                                            td 14/04/19
                                    tfoot.table-foot
                                        tr 
                                            td Tổng
                                            td
                                            td
                                            td
                                            td
                                            td
                                            td
                                            td
                                            td
                                            td
                                            td
                                            td
                                            td
                                            td
                                            td
                                            td
                                            td
                                            td
                                            td