.page-content-inner{
    padding-top: 15px;
    
}
.pd-0{
    padding: 0;
}
.bd-0{
    border: 0;
}
.mg-l--3{
    margin-left: -15px;
}
.mg-l--5{
    margin-left: -25px;
}
.mg-r2{
    margin-right: 10px;
}
.mg-t2{
    margin-top: 10px;
}
.mg-t3{
    margin-top: 15px;
}
.mg-t1{
    margin-top: 5px;
}
.mg-b2{
    margin-bottom: 10px;
}
.mg-b3{
    margin-bottom: 15px;
}
.mg-b1{
    margin-bottom: 5px;
}
.text-center-custom{
    text-align: center !important;
}


.dark-line{
    border-color: #536572;
}


.form-hide{
    display: none;
}
.float-none{
    float: none !important;
}