.dropdown-menu,.dropdown-menu-right,.icons-right{
    .has-dropdow-menu-sub{
        position: relative;
        &:hover{
            .hidden-ul{
                display: block;
            }
        }
        .hidden-ul{
            background: white;
            max-height: 300px;
            overflow: hidden;
            overflow-y: scroll;
            position: absolute;
            top: 0;
            left: 100%;
            display: none;
            list-style: none;
            border: 1px solid #ccc;
            padding-left: 0;
            li{
                a{
                    padding: 10px 12px 11px 12px;
                    text-align: left;
                    font-weight: 600;
                    width: 158px;
                    display: block;
                    color: #333;
                }
                &:hover{
                    a{
                        color: white;
                        background: #333;
                    }
                }
            }
        }
    }
    // .has-dropdow-menu-sub:hover{
    //     .hidden-ul{
    //         display: block;
    //     }
    // }
}
// @media only screen and (max-width: 992px){
//     .dropdown-menu,.dropdown-menu-right,.icons-right{
//         .has-dropdow-menu-sub{
//             .hidden-ul{
//                 top: 0;
//                 left: 30px;
//             }
//         }
//         // .has-dropdow-menu-sub:hover{
//         //     .hidden-ul{
//         //         display: block;
//         //     }
//         // }
//     }
// }