.navigation{
    // position: relative;
    #administrator{
        position: fixed;
        // top: calc(100vh - );
        left: 0;
        width: 240px;
        bottom: 0;
        // text-align: center;
        background: #3A4B55;
    }
    .setwidthadmin{
        width: 54px !important;
        // border-left: 3px solid #EE8366;
    }
}
@media only screen and (max-width: 992px){
    .navigation{
        // position: relative;
        #administrator{
            position: fixed;
            // top: calc(100vh - );
            left: -240px;
            // width: px;
            bottom: 0;
            // text-align: center;
            background: #3A4B55;
        }
        .setwidthadmin{
            left: 0px !important;
            width: 240px !important;
            // border-left: 3px solid #EE8366;
        }
    }
}