.button-chitietkehoachsx
    .top-button-chitietkehoachsx
        .form-actions.float-left
            button.btn.btn-primary(type='submit') Hủy 
        .form-actions.float-right
            button.btn.btn-primary(type='submit') Tạo kế hoạch sản xuất
        .form-actions.float-right
            button.btn.btn-primary.mg-r3(type='submit') Xuất kế hoạch nhập kho
    .row
        .form-actions.col-sm-12.mg-t3
            button.btn.btn-primary(type='submit') Điều chỉnh kế hoạch sản xuất