.row.chart-pie
    .pie-1.col-md-6
        <canvas id="chart-pie-1"></canvas>
    .pie-1.col-md-6
        <canvas id="chart-pie-2"></canvas>
.row
    .chart-item.col-lg-6
        <canvas id="chart-bar"></canvas>
    .chart-item.col-lg-6
        <canvas id="chart-line"></canvas>
.row
    .chart-item.col-lg-6
        <canvas id="chart-bar-horizontal"></canvas>
    .chart-item.col-lg-6
        <canvas id="chart-bar2"></canvas>