.form-quota-supplies
    .panel.panel-default
        .panel-heading
            h6.panel-title
                i.icon-grid
                |  Chỉnh sửa
        .panel-body
                .form-group.col-sm-12.mg-t1.mg-b1
                    .row
                        .form-group.col-sm-3.mg-t1.mg-b1
                            label.control-label Nhập kho: 
                            input.form-control(type='text') 
                        .form-group.col-sm-3.mg-t1.mg-b1
                            label.control-label Xuất HN: 
                            input.form-control(type='text')
                        .form-group.col-sm-3.mg-t1.mg-b1
                            label.control-label Dự kiến xuất kho: 
                            input.form-control(type='text') 
                        .form-group.col-sm-3.mg-t1.mg-b1
                            label.control-label Đại lý: 
                            input.form-control(type='text')
                .form-group.col-sm-12.mg-t1.mg-b1
                    .row
                        .form-group.col-sm-4.mg-t1.mg-b1
                            label.control-label X 04 : 
                            input.form-control(type='text')
                        .form-group.col-sm-4.mg-t1.mg-b1
                            label.control-label X 05 :    
                            input.form-control(type='text')
                        .form-group.col-sm-4.mg-t1.mg-b1
                            label.control-label X 06 :   
                            input.form-control(type='text')
                .row
                    .form-actions.text-right.col-sm-12
                        .col-sm-12
                            input.btn.btn-danger.mg-r2(type='reset', value='Clear')
                            input.btn.btn-primary(type='submit', value='Thêm/Cập nhật')
                            

                
    .form-actions.text-right
        button.btn.btn-primary.mg-r2(type='submit') Quay lại
        button.btn.btn-primary(type='submit') Xuất khẩu

