.form-themmoi.mg-t3    
    .panel.panel-default
        .panel-heading
            h6.panel-title
                |   Thêm mới
        .panel-body
            .row
                .form-group.col-sm-6.mg-t1.mg-b1
                    .form-group.col-sm-12.mg-t1.mg-b1
                        label.control-label Số lượng YC: 
                        input.form-control(type='text')
                    .form-group.col-sm-12.mg-t1.mg-b1        
                        label.control-label Số lượng KH: 
                        input.form-control(type='text')
                .form-group.col-sm-6.mg-t1.mg-b1
                    .form-group.col-sm-12.mg-t1.mg-b1
                        label.control-label  Ngày cấp:  
                        input.form-control(type='date')
                    .form-group.col-sm-12.mg-t1.mg-b1
                        label.control-label       
                        .form-actions.text-right.mg-t1
                            button.btn.btn-primary(type='submit') Điều chỉnh 
                    