.panel(style="margin-bottom:15px;background: transparent;")
    .panel-body
        .row
            .form-group.col-sm-4
                form.col-sm-12.search-line.pd-0.bd-0
                    input.form-control.autocomplete.ui-autocomplete-input(type='text', placeholder='Tìm theo mã', autocomplete='off')