.form-note
    .panel.panel-default.head(style="margin-bottom: 15px")
        .panel-heading
            h6.panel-title Ghi Chú
            .pull-right
                a.btn.btn-link.btn-icon(href='panel_options.html#')
                    i.icon-wrench
        .panel-body
            .form-group
                label.col-sm-1.control-label Ghi chú:
                .col-sm-11
                    textarea.form-control(rows='8', cols='5')
        //- input.btn.btn-danger(type='reset', value='Xóa')
