.form-info
    .panel.panel-default(style="margin-bottom: 15px")
        .panel-heading
            h6.panel-title
                i.icon-menu
                |  Thông Tin
        .panel-body 
            .form-group
                .row
                    .col-sm-6
                        label Tổ:
                        input.form-control(type='text')
                    .col-sm-6
                        label Khẩn cấp:
                        input.form-control(type='text')          
            .form-group
                .row
                    .col-sm-6
                        label Mã VT:
                        input.form-control(type='text')
                    .col-sm-6
                        label Tên VT:
                        input.form-control(type='text')
            .form-group
                label Khách Hàng:
                input.form-control(type='text')
            .form-group
                .row
                    .col-sm-6
                        label Date: 
                        input.form-control(type='date', name='date')
                    .col-sm-6
                        label Ghi chú: 
                        input.form-control(type='text')
    .form-actions.text-right
        input.btn.btn-primary.mg-r2(type='submit', value='Chỉnh Sửa')
        input.btn.btn-danger(type='reset', value='Xóa')


