.form-search-date
    .panel.panel-default(style='margin-bottom:15px;')
        .panel-heading
            h6.panel-title
                i.fas.fa-search(style='line-height:1.5')
                |  Tìm kiếm nâng cao
        .panel-body
            .row
                .form-group.col-sm-6.mg-t1
                    label.control-label Từ ngày: 
                    input.form-control(type='date', name='date', value="2000-12-14")
                .form-group.col-sm-6.mg-t1   
                    label.control-label Đến ngày:     
                    input.form-control(type='date', name='date', value="2019-06-27")
                .form-group.col-sm-12.mg-t3.text-right
                    button.btn.btn-primary(type='submit') Tìm
    
