.form-kd
    .panel.panel-default
        .panel-heading
            h6.panel-title
                i.icon-grid
                |  Chi tiết hóa đơn
        .panel-body
            .col-12.text-right
                .form-checkbox
                    label Siêu thị
                    input(type="checkbox" name = "sieuthi" value ="sieu thi")
            .row
                .col-md-6
                    .row.form-group.mg-t1.mg-b1
                        .col-md-6
                            label Số chứng từ:
                            input.form-control(type='number')
                        .col-md-6
                            label Ngày lập:
                            input.form-control(type='date')
                    .row.form-group.mg-t1.mg-b1
                        .col-md-6
                            label Mã khách hàng
                    .row.form-group.mg-t1.mg-b1
                        .col-md-4
                            select.form-control(name='select')
                                option(value='opt1') Option
                        .col-md-8
                            input.form-control(type='text')
                    .row.form-group.mg-t1.mg-b1
                        .col-sm-12
                            label MST:
                            input.form-control(type='number')
                    .row.form-group.mg-t1.mg-b1
                        .col-md-6
                            label Số hóa đơn:
                            input.form-control(type='number')
                        .col-md-6
                            label Ngày:
                            input.form-control(type='date')
                        
                .col-md-6
                    .row.form-group.mg-t1.mg-b1
                        .col-sm-12
                            label Địa chỉ:
                            input.form-control(type='number')
                    .row.form-group.mg-t1.mg-b1
                        .col-sm-12
                            label Số hợp đồng
                        .col-md-4
                            input.form-control(type="number")
                        .col-md-8
                            input.form-control(type="text")
                    .row.form-group.mg-t1.mg-b1
                        .col-sm-12
                            label Diễn giải:
                            input.form-control(type='text')
                        
.responsive-table-defaults
    table.table-defaults
        thead.table-head
            tr
                th Mã HĐ
                th Số HĐ
                th Ngày Lập
                th Lượng
                th Tiền
                th Ngày KT
                th 

        tbody.table-body
            
            tr
                td 0123
                td 111
                td 11/02/19
                td 1.11
                td 0
                td 14/04/19
                td
                    .btn-control.row
                        button.col-6
                            i.fas.fa-edit
                        button.col-6
                            i.fas.fa-trash-alt
            tr
                

                td 0123
                td 111
                td 11/02/19
                td 1.11
                td 0
                td 14/04/19
                td
                    .btn-control.row
                        button.col-6
                            i.fas.fa-edit
                        button.col-6
                            i.fas.fa-trash-alt
            tr
                

                td 0123
                td 111
                td 11/02/19
                td 1.11
                td 0
                td 14/04/19
                td
                    .btn-control.row
                        button.col-6
                            i.fas.fa-edit
                        button.col-6
                            i.fas.fa-trash-alt
            tr
                

                td 0123
                td 111
                td 11/02/19
                td 1.11
                td 0
                td 14/04/19
                td
                    .btn-control.row
                        button.col-6
                            i.fas.fa-edit
                        button.col-6
                            i.fas.fa-trash-alt
            tr
                

                td 0123
                td 111
                td 11/02/19
                td 1.11
                td 0
                td 14/04/19
                td
                    .btn-control.row
                        button.col-6
                            i.fas.fa-edit
                        button.col-6
                            i.fas.fa-trash-alt
            tr
                

                td 0123
                td 111
                td 11/02/19
                td 1.11
                td 0
                td 14/04/19
                td
                    .btn-control.row
                        button.col-6
                            i.fas.fa-edit
                        button.col-6
                            i.fas.fa-trash-alt

        tfoot.table-footer
            tr 
                td Tổng
.row.mg-t1
    .col-md-7.float-right
        .panel.panel-default
                .panel-heading
                    h6.panel-title
                        i.icon-grid
                        |  Chi tiết hóa đơn
                .panel-body
                    .row
                        .col-sm-12
                            .row.form-group.mg-t1.mg-b1
                                .col-md-3
                                    label Tổng cộng:
                                .col-md-3
                                    input.form-control(type='number')                
                                .col-md-3
                                    input.form-control(type='number')
                                .col-md-3
                                    input.form-control(type='number')
                            .row.form-group.mg-t1.mg-b1
                                .col-md-3
                                    label Tổng tiền thuế siêu thị:
                                .col-md-3
                                    input.form-control(type='number')                
                                .col-md-3
                                    label Tổng tiền thuế sỉ
                                .col-md-3
                                    input.form-control(type='number')
.row
    .col-md-6
        button(class="btn btn-primary" type="submit") Hủy đơn
    .col-md-6
        button.float-right(class="btn btn-primary" type="submit") Lưu