.responsive-table
        .table.table-hover.tbl-odd-light.tbl-none
            .tbl-header
                table
                    thead
                        tr
                            th 
                            th Mã HĐ
                            th Số HĐ
                            th Ngày Lập
                            th Lượng
                            th Tiền
                            th Ngày KT
            .tbl-content
                table
                    tbody
                        tr
                            td
                                .btn-control.row
                                    button.col-6
                                        i.fas.fa-edit
                                    button.col-6
                                        i.fas.fa-trash-alt
                            td 0123
                            td 133
                            td 13/02/19
                            td 0.00
                            td 0
                            td 14/02/19
                        tr
                            td
                                .btn-control.row
                                    button.col-6
                                        i.fas.fa-edit
                                    button.col-6
                                        i.fas.fa-trash-alt

                            td 0123
                            td 137
                            td 13/01/19
                            td 0.00
                            td 0
                            td 11/04/19
                        tr
                            td
                                .btn-control.row
                                    button.col-6
                                        i.fas.fa-edit
                                    button.col-6
                                        i.fas.fa-trash-alt

                            td 0123
                            td 121
                            td 13/01/19
                            td 0.00
                            td 0
                            td 14/05/19
                        tr
                            td
                                .btn-control.row
                                    button.col-6
                                        i.fas.fa-edit
                                    button.col-6
                                        i.fas.fa-trash-alt

                            td 0123
                            td 111
                            td 11/02/19
                            td 1.11
                            td 0
                            td 14/04/19
                        tr
                            td
                                .btn-control.row
                                    button.col-6
                                        i.fas.fa-edit
                                    button.col-6
                                        i.fas.fa-trash-alt

                            td 0123
                            td 111
                            td 11/02/19
                            td 1.11
                            td 0
                            td 14/04/19
                        tr
                            td
                                .btn-control.row
                                    button.col-6
                                        i.fas.fa-edit
                                    button.col-6
                                        i.fas.fa-trash-alt

                            td 0123
                            td 111
                            td 11/02/19
                            td 1.11
                            td 0
                            td 14/04/19
                        tr
                            td
                                .btn-control.row
                                    button.col-6
                                        i.fas.fa-edit
                                    button.col-6
                                        i.fas.fa-trash-alt

                            td 0123
                            td 111
                            td 11/02/19
                            td 1.11
                            td 0
                            td 14/04/19
                        tr
                            td
                                .btn-control.row
                                    button.col-6
                                        i.fas.fa-edit
                                    button.col-6
                                        i.fas.fa-trash-alt

                            td 0123
                            td 111
                            td 11/02/19
                            td 1.11
                            td 0
                            td 14/04/19
                        tr
                            td
                                .btn-control.row
                                    button.col-6
                                        i.fas.fa-edit
                                    button.col-6
                                        i.fas.fa-trash-alt

                            td 0123
                            td 111
                            td 11/02/19
                            td 1.11
                            td 0
                            td 14/04/19
                        tr
                            td
                                .btn-control.row
                                    button.col-6
                                        i.fas.fa-edit
                                    button.col-6
                                        i.fas.fa-trash-alt

                            td 0123
                            td 111
                            td 11/02/19
                            td 1.11
                            td 0
                            td 14/04/19
                        tr
                            td
                                .btn-control.row
                                    button.col-6
                                        i.fas.fa-edit
                                    button.col-6
                                        i.fas.fa-trash-alt

                            td 0123
                            td 111
                            td 11/02/19
                            td 1.11
                            td 0
                            td 14/04/19
                        tr
                            td
                                .btn-control.row
                                    button.col-6
                                        i.fas.fa-edit
                                    button.col-6
                                        i.fas.fa-trash-alt

                            td 0123
                            td 111
                            td 11/02/19
                            td 1.11
                            td 0
                            td 14/04/19
                        tr
                            td
                                .btn-control.row
                                    button.col-6
                                        i.fas.fa-edit
                                    button.col-6
                                        i.fas.fa-trash-alt

                            td 0123
                            td 111
                            td 11/02/19
                            td 1.11
                            td 0
                            td 14/04/19
                        tr
                            td
                                .btn-control.row
                                    button.col-6
                                        i.fas.fa-edit
                                    button.col-6
                                        i.fas.fa-trash-alt

                            td 0123
                            td 111
                            td 11/02/19
                            td 1.11
                            td 0
                            td 14/04/19
                        tr
                            td
                                .btn-control.row
                                    button.col-6
                                        i.fas.fa-edit
                                    button.col-6
                                        i.fas.fa-trash-alt

                            td 0123
                            td 111
                            td 11/02/19
                            td 1.11
                            td 0
                            td 14/04/19
                        tr
                            td
                                .btn-control.row
                                    button.col-6
                                        i.fas.fa-edit
                                    button.col-6
                                        i.fas.fa-trash-alt

                            td 0123
                            td 111
                            td 11/02/19
                            td 1.11
                            td 0
                            td 14/04/19
                        tr
                            td
                                .btn-control.row
                                    button.col-6
                                        i.fas.fa-edit
                                    button.col-6
                                        i.fas.fa-trash-alt

                            td 0123
                            td 111
                            td 11/02/19
                            td 1.11
                            td 0
                            td 14/04/19
                        tr
                            td
                                .btn-control.row
                                    button.col-6
                                        i.fas.fa-edit
                                    button.col-6
                                        i.fas.fa-trash-alt

                            td 0123
                            td 111
                            td 11/02/19
                            td 1.11
                            td 0
                            td 14/04/19
                        tr
                            td
                                .btn-control.row
                                    button.col-6
                                        i.fas.fa-edit
                                    button.col-6
                                        i.fas.fa-trash-alt

                            td 0123
                            td 111
                            td 11/02/19
                            td 1.11
                            td 0
                            td 14/04/19
                        tr
                            td
                                .btn-control.row
                                    button.col-6
                                        i.fas.fa-edit
                                    button.col-6
                                        i.fas.fa-trash-alt

                            td 0123
                            td 111
                            td 11/02/19
                            td 1.11
                            td 0
                            td 14/04/19
                        tr
                            td
                                .btn-control.row
                                    button.col-6
                                        i.fas.fa-edit
                                    button.col-6
                                        i.fas.fa-trash-alt

                            td 0123
                            td 111
                            td 11/02/19
                            td 1.11
                            td 0
                            td 14/04/19
                        tr
                            td
                                .btn-control.row
                                    button.col-6
                                        i.fas.fa-edit
                                    button.col-6
                                        i.fas.fa-trash-alt

                            td 0123
                            td 111
                            td 11/02/19
                            td 1.11
                            td 0
                            td 14/04/19
                        tr
                            td
                                .btn-control.row
                                    button.col-6
                                        i.fas.fa-edit
                                    button.col-6
                                        i.fas.fa-trash-alt

                            td 0123
                            td 111
                            td 11/02/19
                            td 1.11
                            td 0
                            td 14/04/19
                        tr
                            td
                                .btn-control.row
                                    button.col-6
                                        i.fas.fa-edit
                                    button.col-6
                                        i.fas.fa-trash-alt

                            td 0123
                            td 111
                            td 11/02/19
                            td 1.11
                            td 0
                            td 14/04/19
                        tr
                            td
                                .btn-control.row
                                    button.col-6
                                        i.fas.fa-edit
                                    button.col-6
                                        i.fas.fa-trash-alt

                            td 0123
                            td 111
                            td 11/02/19
                            td 1.11
                            td 0
                            td 14/04/19
                        tr
                            td
                                .btn-control.row
                                    button.col-6
                                        i.fas.fa-edit
                                    button.col-6
                                        i.fas.fa-trash-alt

                            td 0123
                            td 111
                            td 11/02/19
                            td 1.11
                            td 0
                            td 14/04/19
                        tr
                            td
                                .btn-control.row
                                    button.col-6
                                        i.fas.fa-edit
                                    button.col-6
                                        i.fas.fa-trash-alt

                            td 0123
                            td 111
                            td 11/02/19
                            td 1.11
                            td 0
                            td 14/04/19
                        tr
                            td
                                .btn-control.row
                                    button.col-6
                                        i.fas.fa-edit
                                    button.col-6
                                        i.fas.fa-trash-alt

                            td 0123
                            td 111
                            td 11/02/19
                            td 1.11
                            td 0
                            td 14/04/19
                        tr
                            td
                                .btn-control.row
                                    button.col-6
                                        i.fas.fa-edit
                                    button.col-6
                                        i.fas.fa-trash-alt

                            td 0123
                            td 111
                            td 11/02/19
                            td 1.11
                            td 0
                            td 14/04/19
                        tr
                            td
                                .btn-control.row
                                    button.col-6
                                        i.fas.fa-edit
                                    button.col-6
                                        i.fas.fa-trash-alt

                            td 0123
                            td 111
                            td 11/02/19
                            td 1.11
                            td 0
                            td 14/04/19
            .tbl-footer
                table
                    tfood
                        tr 
                            td Tổng
.panel.panel-default
        .panel-heading
            h6.panel-title
                i.icon-grid
                |  Chỉnh sửa / Thêm mới
        .panel-body
            .row
                .col-md-4
                    .row.form-group.mg-t1.mg-b1
                        .col-sm-12
                            label Mã hàng
                        .col-md-8
                            select.form-control(name='select')
                                option(value='opt1') Option
                        .col-md-4
                            label Cân nhựa tròn 1 kg
                    .row.form-group.mg-t1.mg-b1
                        .col-sm-12
                            label Số Lượng
                        .col-sm-12
                            input.form-control(type="number")
                    .row.form-group.mg-t1.mg-b1
                        .col-sm-12
                            label Tổng tiền
                        .col-sm-12
                            input.form-control(type="number")
                .col-md-4
                    .row.form-group.mg-t1.mg-b1
                        .col-sm-12
                            label Đơn giá
                        .col-sm-12
                            input.form-control(type="number")
                    .row.form-group.mg-t1.mg-b1
                        .col-sm-12
                            label Thành tiền
                        .col-sm-12
                            input.form-control(type="number")
                .col-md-4
                    .row.form-group.mg-t1.mg-b1
                        .col-sm-12
                            label Thuế
                        .col-md-11
                            input.form-control(type="number")
                        .col-md-1    
                            span %
                    .row.form-group.mg-t1.mg-b1
                        .col-sm-12
                            label Tiền thuế
                        .col-sm-12
                            input.form-control(type="number")
                    .row.form-group.mg-t1.mg-b1
                        .col-sm-12
                            button(class="btn btn-primary float-right" type="submit") Cập nhật/Thêm
.row
    .col-md-7.float-right
        .panel.panel-default
                .panel-heading
                    h6.panel-title
                        i.icon-grid
                        |  Chi tiết hóa đơn
                .panel-body
                    .row
                        .col-sm-12
                            .row.form-group.mg-t1.mg-b1
                                .col-md-3
                                    label Tổng cộng:
                                .col-md-3
                                    input.form-control(type='number')                
                                .col-md-3
                                    input.form-control(type='number')
                                .col-md-3
                                    input.form-control(type='number')
                            .row.form-group.mg-t1.mg-b1
                                .col-md-3
                                    label Tổng tiền thuế siêu thị:
                                .col-md-3
                                    input.form-control(type='number')                
                                .col-md-3
                                    label Tổng tiền thuế sỉ
                                .col-md-3
                                    input.form-control(type='number')
.row
    .col-md-6
        button(class="btn btn-primary" type="submit") Hủy đơn
    .col-md-6
        button.float-right(class="btn btn-primary" type="submit") Lưu