.mt-2
    .responsive-table-defaults
        table.table-defaults
            thead.table-head
                tr
                    th Mã cân
                    th Tên
                    th Số lượng
                    th Bao bì
    
            tbody.table-body
                tr
                    td W1BX15
                    td Căn 1kg/0.6 Viss/6*/Myanmar/DInox T
                    td 60
                    td 60
                tr
                    td W1BX15
                    td Căn 1kg/0.6 Viss/6*/Myanmar/DInox T
                    td 60
                    td 60
                tr
                    td W1BX15
                    td Căn 1kg/0.6 Viss/6*/Myanmar/DInox T
                    td 60
                    td 60
                tr
                    td W1BX15
                    td Căn 1kg/0.6 Viss/6*/Myanmar/DInox T
                    td 60
                    td 60
                tr
                    td W1BX15
                    td Căn 1kg/0.6 Viss/6*/Myanmar/DInox T
                    td 60
                    td 60
                tr
                    td W1BX15
                    td Căn 1kg/0.6 Viss/6*/Myanmar/DInox T
                    td 60
                    td 60
                tr
                    td W1BX15
                    td Căn 1kg/0.6 Viss/6*/Myanmar/DInox T
                    td 60
                    td 60
                tr
                    td W1BX15
                    td Căn 1kg/0.6 Viss/6*/Myanmar/DInox T
                    td 60
                    td 60    
                tr
                    td W1BX15
                    td Căn 1kg/0.6 Viss/6*/Myanmar/DInox T
                    td 60
                    td 60
