.form-themmoi    
    .panel.panel-default
        .panel-heading
            h6.panel-title
                |   Điều chỉnh số lượng thành phẩm
        .panel-body
            .form-group.col-sm-6.mg-t1.mg-b1
                label.control-label Số lượng: 
                input.form-control(type='text')
            .form-group.col-sm-6.mg-t1.mg-b1
                label.control-label 
                .form-actions.text-right.mg-t1.mg-b1  
                    button.btn.btn-primary(type='submit') Điều chỉnh   
                    