.page-content-inner
    //Form Search
    include form-info.pug
    //Form Note
    include form-note.pug
    //Tìm Kiếm 1
    include form-search1.pug
    //Tìm Kiếm 2
    include form-search2.pug
    //Form Thêm/Sửa
    include form-add-fix.pug
    //Form Danh Mục - Phân Loại - Vật Tư
    include form-category-classify-supplies.pug
    //Tìm Kiếm 3
    include form-search3.pug
     //Tìm Mã
    include form-search-code.pug
    //Form Tạo Định Mức - Vật Tư 
    include form-quota-supplies.pug
    //Form Tạo Định Mức - Vật Tư - 1  
    include form-quota-supplies-1.pug
    //Form  Thêm Định Mức - Vật Tư 
    include form-add-quota-supplies.pug
    //Form  Thêm mới
    include form-add-quota-supplies-new.pug