.panel.panel-default(style="margin-bottom:15px")
    .panel-heading
        h6.panel-title
            i.fas.fa-search(style="line-height:1.5")
            |  Tìm kiếm
    .panel-body
        .form-group.col-sm-4.mg-t1
            form.col-sm-12.search-line.pd-0.bd-0
                input.form-control.autocomplete.ui-autocomplete-input(type='text', placeholder='Tìm theo mã', autocomplete='off' style="padding: 9px 10px 10px 32px;")
        .form-group.col-sm-4.mg-t1
            form.col-sm-12.search-line.pd-0.bd-0
                input.form-control.autocomplete.ui-autocomplete-input(type='text', placeholder='Tìm theo tên', autocomplete='off' style="padding: 9px 10px 10px 32px;")
        .form-group.col-sm-4.mg-t1
            form.col-sm-12.search-line.pd-0.bd-0
                input.form-control.autocomplete.ui-autocomplete-input(type='text', placeholder='Tìm theo cấp', autocomplete='off' style="padding: 9px 10px 10px 32px;")
.form-actions.text-right
    button.btn.btn-primary(type='submit') Tìm kiếm
