.form-chinhsua
    .panel.panel-default
        .panel-body.custom-chinhsua
                h3.text-center Chỉnh sửa
                .form-group.col-sm-12.mg-t1.mg-b1
                    .row
                        .form-group.col-sm-12.mg-t1.mg-b1
                            .row
                                label.control-label Số lượng: 
                                .form-group
                                    input.form-control(type='text') 
                        .form-group.col-sm-12.mg-t1.mg-b1
                            .row
                                label.control-label Bao bì: 
                                .form-group
                                    input.form-control(type='text') 
                        .form-actions.text-right
                            button.btn.btn-primary.mg-t3.mg-b3(type='submit') Thay đổi