.form-category-classify-supplies
    .panel.panel-default(style="margin-bottom: 15px")
        .panel-heading
            h6.panel-title
                i.icon-paragraph-right2
                |  Thông Tin
        .panel-body
            .row
                .form-group.col-sm-6
                    label.col-sm-12.control-label.text-left Ngày Ghi:
                    .col-sm-12
                        input.form-control(type='date', name="date")
                .form-group.col-sm-6.mg-t1
                    label.col-sm-12.control-label.text-left Mã loại:
                    .col-sm-12
                        input.form-control(type='text', value="W1EX11")
            .row
                .form-group.col-sm-6
                    label.col-sm-12.control-label.text-left Tên:
                    .col-sm-12
                        input.form-control(type='text', value='Cân trung 30 đến 49kg XK CRAFT')
                .form-group.col-sm-6.mg-t1
                    label.col-sm-12.control-label.text-left Cấp nhóm:
                    .col-sm-12
                        input.form-control(type='number', value='3')
            .form-group
            label.col-sm-2.control-label Chi tiết: 
            .col-sm-10.mg-l--6
                .block-inner
                    label.checkbox-inline
                        .checker
                            span
                                input.styled(type='checkbox')
            .form-group
                label.col-sm-12.control-label.text-left Ghi chú:
                .col-sm-12
                    input.form-control(type='text', placeholder="Xuất Khẩu Mỹ")
    .form-actions.text-right
        input.btn.btn-primary.mg-r2(type='submit', value='Chỉnh Sửa')
        input.btn.btn-danger(type='reset', value='Xóa')
