.form-tab-chitietkhsx
    .tabs-vertical
        ul.nav.nav-tabs#tabs-vertical
            li.active
                a.pd-2.border-radius-tlr-1(data-toggle='tab', href='#home') X3
            li
                a.pd-2.border-radius-tlr-1(data-toggle='tab', href='#menu1') X7
            li
                a.pd-2.border-radius-tlr-1(data-toggle='tab', href='#menu1') X7   
    .tab-content.pd-3(style="border: 1px solid #6666665e")
        #home.tab-pane.fade.in.active
            include table-chitietkhsx1.pug
        #menu1.tab-pane.fade
            include table-chitietkhsx1.pug
