.navbar.navbar-inverse(role='navigation')
    .navbar-header
        a.navbar-brand(href='navigation_disabled_items.html#')
            | NHON HOA CMS
            //- img(src='images/logo.png', alt='Londinium')
        a.sidebar-toggle#sidebar-toggle
            i.icon-paragraph-justify2
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-icons')
            span.sr-only Toggle navbar
            i.icon-grid3
        button.navbar-toggle.offcanvas(type='button')#sidebar-toggle2
            span.sr-only Toggle navigation
            i.icon-paragraph-justify2
    ul#navbar-icons.nav.navbar-nav.navbar-right.collapse
        li.dropdown
            a.dropdown-toggle(data-toggle='dropdown')
                i.fas.fa-tasks.icon-tasks
            ul.dropdown-menu.dropdown-menu-right.icons-right
                li.has-dropdow-menu-sub
                    a(href='navigation_disabled_items.html#')
                        |  Danh mục
                    ul.hidden-ul
                        li                     
                            a(href='../pages/danhmuc-phanloaivattu.html#')
                                |  Phân loại vật tư
                        li                     
                            a(href='../pages/danhmuc-vattu.html#')
                                |  Vật tư
                        li                     
                            a(href='../pages/danhmuc-vt-phanloai-chitiet.html#')
                                |  Phân loại - vật tư - chi tiết
                        li                     
                            a(href='../pages/danhmuc-kho.html#')
                                |  Kho
                            
                        li                     
                            a(href='../pages/danhmuc-iso.html#')
                                |  Phụ lục ISO
                        li                     
                            a(href='../pages/danhmuc-tole.html#')
                                |  Tole
                        li                     
                            a(href='../pages/danhmuc-cpdt-dechet.html#')
                                |  Cơ phận đập từ Dechet
                        li                     
                            a(href='../pages/danhmuc-nguyenvatlieu.html#')
                                |  Nguyên vật liệu
                        li                     
                            a(href='../pages/khoiluong-cophan.html#')
                                |  Khối lượng cơ phận
                        li                     
                            a(href='../pages/dinhmucvattu-1kg.html#')
                                |  Định mức vật tư / 1kg
                        li                     
                            a(href='../pages/dinhmucvattu.html#')
                                |  Định mức vật tư
                        li                     
                            a(href='../pages/dinhmuccat.html#')
                                |  Định mức cắt
                        li                     
                            a(href='../pages/dinhmuc-sdung-vt-week.html#')
                                |  Định mức sử dụng vật tư trong tuần
                        li                     
                            a(href='../pages/taodinhmucvattu.html#')
                                |  Tạo định mức vật tư
                        li                     
                            a(href='../pages/taodinhmucvattu-ketiep.html#')
                                |  Tạo định mức vật tư - kế tiếp
                        li                     
                            a(href='../pages/chitiet.html#')
                                |  Chi tiết
                        li                     
                            a(href='../pages/themmoi-dinhmuccattole.html#')
                                |  Thêm mới định mức cắt tole
                        li                     
                            a(href='../pages/themmoi-dinhmuccattole-ketiep.html#')
                                |  Thêm mới định mức cắt tole - kế tiếp
                        
                li.has-dropdow-menu-sub
                    a(href='navigation_disabled_items.html#')
                        |  Báo cáo
                    ul.hidden-ul
                        li                     
                            a(href='../pages/BC_bangcandoidieuchuyen.html#')
                                |   Bảng cân đối điều chuyển
                        li                     
                            a(href='../pages/BC_bangcandoisudung-xembangcandoitatcacackho.html#')
                                |  Bảng cân đối sử dụng-Xem bảng cân đối tất cả các kho
                        li                     
                            a(href='../pages/BC_bangcandoisudung-xembangcandoitatcavattu.html#')
                                |  Bảng cân đối sử dụng-Xem bảng cân đối tất cả vật tư
                        li                     
                            a(href='../pages/BC_bangcandoitatcavattu.html#')
                                |  Bảng cân đối tất cả các kho
                        li                     
                            a(href='../pages/BC_bangcandoitheokho.html#')
                                |  Bảng cân đối theo kho
                        li                     
                            a(href='../pages/BC_bangcandoitheokho-vattu-chitiet-cophan.html#')
                                |  Bảng cân đối theo kho - vật tư - chi tiết - cơ phận
                        li                     
                            a(href='../pages/BC_bangcandoitheovattu.html#')
                                |  Bảng cân đối theo vật tư
                        li                     
                            a(href='../pages/BC_hethongquanly.html#')
                                |  Hệ thống quản lý
                        li                     
                            a(href='../pages/BC_hethongquanlykehoach.html#')
                                |  Hệ thống quản lý kế hoạch 
                        li                     
                            a(href='../pages/BC_hethongquanlykehoach2.html#')
                                |  Hệ thống quản lý kế hoạch 
                        li                     
                            a(href='../pages/BC_hethongquanly-quyettoan.html#')
                                |  Hệ thống quản lý quyết toán
                        li                     
                            a(href='../pages/BC_hethongquanly-tole.html#')
                                |  Hệ thống quản lý tole
                        li                     
                            a(href='../pages/BC_hethongquanly-tonghopquyettoan.html#')
                                |  Hệ thống quản lý tổng hợp - quyết toán
                        li                     
                            a(href='../pages/BC_tonghopphelieu-in1kho.html#')
                                |  Tổng hợp phế liệu - in 1 kho
                        li                     
                            a(href='../pages/BC_tonghopquyettoank14-intatca.html#')
                                |  Tổng hợp quyết toán K14 - in tất cả
                        li                     
                            a(href='../pages/BC_tonghoptolegiacong.html#')
                                |  Tổng hợp tole gia công
                        li                     
                            a(href='../pages/BC_tonghoptolegiacong_inbangke.html#')
                                |  Tổng hợp tole gia công - in bảng kê
                        li                     
                            a(href='../pages/BC_tonghoptolegiacong-inchitiet.html#')
                                |  Tổng hợp tole gia công - in chi tiết
                        li                     
                            a(href='../pages/BC_tonghoptolegiacong-intonghop.html#')
                                |  Tổng hợp tole gia công - in tổng hợp
                        li                     
                            a(href='../pages/BC_bangcandoisudung.html#')
                                |  Bảng cân đối sử dụng         
                        li                     
                            a(href='../pages/BC_bangcandoitheokho.html#')
                                |  Bảng cân đối theo kho        
                        li                     
                            a(href='../pages/BC_bangkechitiet-chontheochitietvattutheokho.html#')
                                |  Bảng kê chi tiết - chọn theo chi tiết vật tư theo kho 
                        li                     
                            a(href='../pages/BC_bangkechitiet-xemchitietvattutatcacackho.html#')
                                |  Bảng kê chi tiết - xem chi tiết vật tư tất cả các kho
                        li                     
                            a(href='../pages/BC_tonghopphelieu-intatca.html#')
                                |  Tổng hợp phế liệu - in tất cả       
                li
                    a(href='navigation_disabled_items.html#')
                        |  Báo cáo nhanh
                li
                    a(href='navigation_disabled_items.html#')
                        |  Số dư đầu kỳ 
                li
                    a(href='navigation_disabled_items.html#')
                        |  Kế hoạch
                li
                    a(href='navigation_disabled_items.html#')
                        |  Gia công
                li
                    a(href='navigation_disabled_items.html#')
                        |  Cấp hàng
        li.dropdown
            a.dropdown-toggle(data-toggle='dropdown')
                i.icon-grid
            .popup.dropdown-menu.dropdown-menu-right
                .popup-header
                    a.pull-left(href='navigation_disabled_items.html#')
                        i.icon-spinner7
                    span Tiến độ công việc
                    a.pull-right(href='navigation_disabled_items.html#')
                        i.icon-new-tab
                table.table.table-hover
                    //- thead
                    //-     tr
                    //-     th Tên công việc
                    //-     th Xưởng
                    //-     th.text-center Tiến độ
                    tbody
                        tr
                            td
                                span.status.status-success.item-before
                                a(href='navigation_disabled_items.html#') Gia công mặt kim
                            td
                                span.text-smaller.text-semibold Xưởng 9
                            td.text-center
                                span.label.label-success 87%
                        tr
                            td
                                span.status.status-danger.item-before
                                a(href='navigation_disabled_items.html#') Gia công bàn cân
                            td
                                span.text-smaller.text-semibold Xưởng 2
                            td.text-center
                                span.label.label-danger 82%
                        tr
                            td
                                span.status.status-info.item-before
                                a(href='navigation_disabled_items.html#') Nhập vật liệu
                            td
                                span.text-smaller.text-semibold Xưởng 3
                            td.text-center
                                span.label.label-info 52%
                        tr
                            td
                                span.status.status-success.item-before
                                a(href='navigation_disabled_items.html#') Ráp vật liệu
                            td
                                span.text-smaller.text-semibold Xưởng 5
                            td.text-center
                                span.label.label-success 100%
                        tr
                            td
                                span.status.status-success.item-before
                                a(href='navigation_disabled_items.html#') Ráp cân tb
                            td
                                span.text-smaller.text-semibold Xưởng 5
                            td.text-center
                                span.label.label-success 100%
        li.dropdown
            a.dropdown-toggle(data-toggle='dropdown')
                i.icon-people
                span.label.label-default 2
            .popup.dropdown-menu.dropdown-menu-right
                .popup-header
                    a.pull-left(href='navigation_disabled_items.html#')
                        i.icon-spinner7
                    span Hoạt động
                    a.pull-right(href='navigation_disabled_items.html#')
                        i.icon-paragraph-justify
                ul.activity
                    li
                        i.icon-cart-checkout.text-success
                        div
                        a(href='navigation_disabled_items.html#')  Xưởng 1 
                        | đã nhập hàng vào
                        a(href='navigation_disabled_items.html#')  Kho 1 
                        span 14 phút trước
                    li
                        i.icon-heart.text-danger
                        div
                        |  Admin 
                        a(href='navigation_disabled_items.html#')  Cập nhật 
                        |  kế hoạch mới cho
                        a(href='navigation_disabled_items.html#')  phòng kế hoạch  
                        span 35 phút trước
                    li
                        i.icon-checkmark3.text-success
                        div
                            | Có thông báo mới về tình hình lắp ráp của 
                            a(href='navigation_disabled_items.html#') Xưởng 5 
                            span khoản 2 giờ trước
                    li
                        i.icon-paragraph-justify2.text-warning
                        div
                            |  Đây là  
                            a(href='navigation_disabled_items.html#') 6 nhiệm vụ
                            |  đang đợi bạn, Đường quên nhé !   
                            span Khoản 3 giờ trước
        li.dropdown
            a.dropdown-toggle(data-toggle='dropdown')
                i.icon-paragraph-justify2
                span.label.label-default 6
            .popup.dropdown-menu.dropdown-menu-right
                .popup-header
                    a.pull-left(href='navigation_disabled_items.html#')
                        i.icon-spinner7
                    span Tin nhắn báo cáo
                    a.pull-right(href='navigation_disabled_items.html#')
                        i.icon-new-tab
                ul.popup-messages
                    li.unread
                        a(href='navigation_disabled_items.html#')
                            img.user-face(src='images/demo/users/face1.png', alt='')
                            strong
                                | Hà Lê
                                i.icon-attachment2
                            span Thông báo kết quả doanh thu...
                    li
                        a(href='navigation_disabled_items.html#')
                            img.user-face(src='images/demo/users/face2.png', alt='')
                            strong
                                | Trọng Nguyễn 
                                i.icon-attachment2
                            span Thông báo kết quả doanh thu...
                    li
                        a(href='navigation_disabled_items.html#')
                            img.user-face(src='images/demo/users/face3.png', alt='')
                            strong Võ Huỳnh
                            span Thông báo kết quả doanh thu...
                    li
                        a(href='navigation_disabled_items.html#')
                            img.user-face(src='images/demo/users/face4.png', alt='')
                            strong Lê Đạt
                            span Thông báo kết quả doanh thu...
                    li
                        a(href='navigation_disabled_items.html#')
                            img.user-face(src='images/demo/users/face5.png', alt='')
                            strong Admin1
                            span Thông báo kết quả doanh thu...

        li.user.dropdown
            a.dropdown-toggle(data-toggle='dropdown')
                img(src='images/demo/users/face1.png', alt='')
                span Administrator
                i.caret
            ul.dropdown-menu.dropdown-menu-right.icons-right
                li
                    a(href='navigation_disabled_items.html#')
                        i.icon-user
                        |  Thông tin tài khoản
                //- li
                //-     a(href='navigation_disabled_items.html#')
                //-         i.icon-bubble4
                //-         |  Messages
                //- li
                //-     a(href='navigation_disabled_items.html#')
                //-         i.icon-cog
                //-         |  Settings
                li
                    a(href='navigation_disabled_items.html#')
                        i.icon-exit
                        |  Đăng xuất
