.mt-2
    .table-title.row
        .field-search.col-10
            .panel.panel-default(style="margin-bottom:15px")
                .panel-heading
                    h6.panel-title
                        i.fas.fa-search(style="line-height:1.5")
                        |  Tìm kiếm
                .panel-body
                    .form-group.col-sm-4.mg-t1
                        form.col-sm-12.search-line.pd-0.bd-0
                            input.form-control.autocomplete.ui-autocomplete-input(type='text', placeholder='Tìm theo mã', autocomplete='off', style="padding: 9px 10px 10px 32px;")
                    .form-group.col-sm-4.mg-t1
                        form.col-sm-12.search-line.pd-0.bd-0
                            input.form-control.autocomplete.ui-autocomplete-input(type='text', placeholder='Tìm theo tên', autocomplete='off', style="padding: 9px 10px 10px 32px;")
                    .form-group.col-sm-4.mg-t1
                        form.col-sm-12.search-line.pd-0.bd-0
                            input.form-control.autocomplete.ui-autocomplete-input(type='text', placeholder='Tìm theo cấp', autocomplete='off', style="padding: 9px 10px 10px 32px;")
        .field-filter.col-2
            label Hiển thị :
            select
                option(value="") 10
                option(value="") 25
                option(value="") 50
                option(value="") 100
    .responsive-table
        .table.table-hover.tbl-odd-light.tbl-none
            .tbl-header
                table
                    thead
                        tr
                            th 
                            th Mã HĐ
                            th Số HĐ
                            th Ngày Lập
                            th Lượng
                            th Tiền
                            th Ngày KT
            .tbl-content
                table
                    tbody
                        tr
                            td
                                .btn-control
                                    button.btn-show +
                                    .btn-group-func
                                        span.btn-table Thêm
                                        span.btn-table Xóa
                            td 0123
                            td 133
                            td 13/02/19
                            td 0.00
                            td 0
                            td 14/02/19
                        tr
                            td
                                .btn-control
                                    button.btn-show +
                                    .btn-group-func
                                        span.btn-table Thêm
                                        span.btn-table Xóa
                            td 0123
                            td 137
                            td 13/01/19
                            td 0.00
                            td 0
                            td 11/04/19
                        tr
                            td
                                .btn-control
                                    button.btn-show +
                                    .btn-group-func
                                        span.btn-table Thêm
                                        span.btn-table Xóa
                            td 0123
                            td 121
                            td 13/01/19
                            td 0.00
                            td 0
                            td 14/05/19
                        tr
                            td
                                .btn-control
                                    button.btn-show +
                                    .btn-group-func
                                        span.btn-table Thêm
                                        span.btn-table Xóa
                            td 0123
                            td 111
                            td 11/02/19
                            td 1.11
                            td 0
                            td 14/04/19
                        tr
                            td
                                .btn-control
                                    button.btn-show +
                                    .btn-group-func
                                        span.btn-table Thêm
                                        span.btn-table Xóa
                            td 0123
                            td 111
                            td 11/02/19
                            td 1.11
                            td 0
                            td 14/04/19
                        tr
                            td
                                .btn-control
                                    button.btn-show +
                                    .btn-group-func
                                        span.btn-table Thêm
                                        span.btn-table Xóa
                            td 0123
                            td 111
                            td 11/02/19
                            td 1.11
                            td 0
                            td 14/04/19
                        tr
                            td
                                .btn-control
                                    button.btn-show +
                                    .btn-group-func
                                        span.btn-table Thêm
                                        span.btn-table Xóa
                            td 0123
                            td 111
                            td 11/02/19
                            td 1.11
                            td 0
                            td 14/04/19
                        tr
                            td
                                .btn-control
                                    button.btn-show +
                                    .btn-group-func
                                        span.btn-table Thêm
                                        span.btn-table Xóa
                            td 0123
                            td 111
                            td 11/02/19
                            td 1.11
                            td 0
                            td 14/04/19
                        tr
                            td
                                .btn-control
                                    button.btn-show +
                                    .btn-group-func
                                        span.btn-table Thêm
                                        span.btn-table Xóa
                            td 0123
                            td 111
                            td 11/02/19
                            td 1.11
                            td 0
                            td 14/04/19
                        tr
                            td
                                .btn-control
                                    button.btn-show +
                                    .btn-group-func
                                        span.btn-table Thêm
                                        span.btn-table Xóa
                            td 0123
                            td 111
                            td 11/02/19
                            td 1.11
                            td 0
                            td 14/04/19
                        tr
                            td
                                .btn-control
                                    button.btn-show +
                                    .btn-group-func
                                        span.btn-table Thêm
                                        span.btn-table Xóa
                            td 0123
                            td 111
                            td 11/02/19
                            td 1.11
                            td 0
                            td 14/04/19
                        tr
                            td
                                .btn-control
                                    button.btn-show +
                                    .btn-group-func
                                        span.btn-table Thêm
                                        span.btn-table Xóa
                            td 0123
                            td 111
                            td 11/02/19
                            td 1.11
                            td 0
                            td 14/04/19
                        tr
                            td
                                .btn-control
                                    button.btn-show +
                                    .btn-group-func
                                        span.btn-table Thêm
                                        span.btn-table Xóa
                            td 0123
                            td 111
                            td 11/02/19
                            td 1.11
                            td 0
                            td 14/04/19
                        tr
                            td
                                .btn-control
                                    button.btn-show +
                                    .btn-group-func
                                        span.btn-table Thêm
                                        span.btn-table Xóa
                            td 0123
                            td 111
                            td 11/02/19
                            td 1.11
                            td 0
                            td 14/04/19
                        tr
                            td
                                .btn-control
                                    button.btn-show +
                                    .btn-group-func
                                        span.btn-table Thêm
                                        span.btn-table Xóa
                            td 0123
                            td 111
                            td 11/02/19
                            td 1.11
                            td 0
                            td 14/04/19
                        tr
                            td
                                .btn-control
                                    button.btn-show +
                                    .btn-group-func
                                        span.btn-table Thêm
                                        span.btn-table Xóa
                            td 0123
                            td 111
                            td 11/02/19
                            td 1.11
                            td 0
                            td 14/04/19
                        tr
                            td
                                .btn-control
                                    button.btn-show +
                                    .btn-group-func
                                        span.btn-table Thêm
                                        span.btn-table Xóa
                            td 0123
                            td 111
                            td 11/02/19
                            td 1.11
                            td 0
                            td 14/04/19
                        tr
                            td
                                .btn-control
                                    button.btn-show +
                                    .btn-group-func
                                        span.btn-table Thêm
                                        span.btn-table Xóa
                            td 0123
                            td 111
                            td 11/02/19
                            td 1.11
                            td 0
                            td 14/04/19
                        tr
                            td
                                .btn-control
                                    button.btn-show +
                                    .btn-group-func
                                        span.btn-table Thêm
                                        span.btn-table Xóa
                            td 0123
                            td 111
                            td 11/02/19
                            td 1.11
                            td 0
                            td 14/04/19
                        tr
                            td
                                .btn-control
                                    button.btn-show +
                                    .btn-group-func
                                        span.btn-table Thêm
                                        span.btn-table Xóa
                            td 0123
                            td 111
                            td 11/02/19
                            td 1.11
                            td 0
                            td 14/04/19
                        tr
                            td
                                .btn-control
                                    button.btn-show +
                                    .btn-group-func
                                        span.btn-table Thêm
                                        span.btn-table Xóa
                            td 0123
                            td 111
                            td 11/02/19
                            td 1.11
                            td 0
                            td 14/04/19
                        tr
                            td
                                .btn-control
                                    button.btn-show +
                                    .btn-group-func
                                        span.btn-table Thêm
                                        span.btn-table Xóa
                            td 0123
                            td 111
                            td 11/02/19
                            td 1.11
                            td 0
                            td 14/04/19
                        tr
                            td
                                .btn-control
                                    button.btn-show +
                                    .btn-group-func
                                        span.btn-table Thêm
                                        span.btn-table Xóa
                            td 0123
                            td 111
                            td 11/02/19
                            td 1.11
                            td 0
                            td 14/04/19
                        tr
                            td
                                .btn-control
                                    button.btn-show +
                                    .btn-group-func
                                        span.btn-table Thêm
                                        span.btn-table Xóa
                            td 0123
                            td 111
                            td 11/02/19
                            td 1.11
                            td 0
                            td 14/04/19
                        tr
                            td
                                .btn-control
                                    button.btn-show +
                                    .btn-group-func
                                        span.btn-table Thêm
                                        span.btn-table Xóa
                            td 0123
                            td 111
                            td 11/02/19
                            td 1.11
                            td 0
                            td 14/04/19
                        tr
                            td
                                .btn-control
                                    button.btn-show +
                                    .btn-group-func
                                        span.btn-table Thêm
                                        span.btn-table Xóa
                            td 0123
                            td 111
                            td 11/02/19
                            td 1.11
                            td 0
                            td 14/04/19
                        tr
                            td
                                .btn-control
                                    button.btn-show +
                                    .btn-group-func
                                        span.btn-table Thêm
                                        span.btn-table Xóa
                            td 0123
                            td 111
                            td 11/02/19
                            td 1.11
                            td 0
                            td 14/04/19
                        tr
                            td
                                .btn-control
                                    button.btn-show +
                                    .btn-group-func
                                        span.btn-table Thêm
                                        span.btn-table Xóa
                            td 0123
                            td 111
                            td 11/02/19
                            td 1.11
                            td 0
                            td 14/04/19
                        tr
                            td
                                .btn-control
                                    button.btn-show +
                                    .btn-group-func
                                        span.btn-table Thêm
                                        span.btn-table Xóa
                            td 0123
                            td 111
                            td 11/02/19
                            td 1.11
                            td 0
                            td 14/04/19
                        tr
                            td
                                .btn-control
                                    button.btn-show +
                                    .btn-group-func
                                        span.btn-table Thêm
                                        span.btn-table Xóa
                            td 0123
                            td 111
                            td 11/02/19
                            td 1.11
                            td 0
                            td 14/04/19
            .tbl-footer
                table
                    tfood
                        tr 
                            td Tổng
    .box-pagination
        include buttoncreate.pug
        .pagination-table
            a(href="#") Trang đầu 
            a(href="#") <<
            a.bg-hover(href="#") 1
            a.bg-hover(href="#") 2
            a.bg-hover(href="#") 3
            a(href="#") >> 
            a(href="#") Trang cuối