.mt-2
    .responsive-table-defaults
        table.table-defaults
            thead.table-head
                tr 
                    th Mã HĐ
                    th Số HĐ
            tbody.table-body
                tr
                    td 0123
                    td 111
                tr
                    td 0123
                    td 111
            tfoot.table-foot
                tr 
                    td Tổng
                    td
                