.mt-2
    .responsive-table-defaults
        table.table-defaults
            thead.table-head
                tr
                    th 
                    th Mã HĐ
                    th Số HĐ
                    th Ngày Lập
                    th Lượng
                    th Tiền
                    th Ngày KT
                    th Mã HĐ
                    th Số HĐ
                    th Ngày Lập
                    th Lượng
                    th Tiền
                    th Ngày KT
                    th Mã HĐ
                    th Số HĐ
                    th Ngày Lập
                    th Lượng
                    th Tiền
                    th Ngày KT
            tbody.table-body
                tr
                    td
                        .btn-control.row
                            button.col-6
                                i.fas.fa-edit
                            button.col-6
                                i.fas.fa-trash-alt
                    td 0123
                    td 111
                    td 11/02/19
                    td 1.11
                    td 0
                    td 14/04/19
                    td 0123
                    td 111
                    td 11/02/19
                    td 1.11
                    td 0
                    td 14/04/19
                    td 0123
                    td 111
                    td 11/02/19
                    td 1.11
                    td 0
                    td 14/04/19
                tr
                    td
                        .btn-control.row
                            button.col-6
                                i.fas.fa-edit
                            button.col-6
                                i.fas.fa-trash-alt
                    td 0123
                    td 111
                    td 11/02/19
                    td 1.11
                    td 0
                    td 14/04/19
                    td 0123
                    td 111
                    td 11/02/19
                    td 1.11
                    td 0
                    td 14/04/19
                    td 0123
                    td 111
                    td 11/02/19
                    td 1.11
                    td 0
                    td 14/04/19
                tr
                    td
                        .btn-control.row
                            button.col-6
                                i.fas.fa-edit
                            button.col-6
                                i.fas.fa-trash-alt
                    td 0123
                    td 111
                    td 11/02/19
                    td 1.11
                    td 0
                    td 14/04/19
                    td 0123
                    td 111
                    td 11/02/19
                    td 1.11
                    td 0
                    td 14/04/19
                    td 0123
                    td 111
                    td 11/02/19
                    td 1.11
                    td 0
                    td 14/04/19
                tr
                    td
                        .btn-control.row
                            button.col-6
                                i.fas.fa-edit
                            button.col-6
                                i.fas.fa-trash-alt
                    td 0123
                    td 111
                    td 11/02/19
                    td 1.11
                    td 0
                    td 14/04/19
                    td 0123
                    td 111
                    td 11/02/19
                    td 1.11
                    td 0
                    td 14/04/19
                    td 0123
                    td 111
                    td 11/02/19
                    td 1.11
                    td 0
                    td 14/04/19
                tr
                    td
                        .btn-control.row
                            button.col-6
                                i.fas.fa-edit
                            button.col-6
                                i.fas.fa-trash-alt
                    td 0123
                    td 111
                    td 11/02/19
                    td 1.11
                    td 0
                    td 14/04/19
                    td 0123
                    td 111
                    td 11/02/19
                    td 1.11
                    td 0
                    td 14/04/19
                    td 0123
                    td 111
                    td 11/02/19
                    td 1.11
                    td 0
                    td 14/04/19
                tr
                    td
                        .btn-control.row
                            button.col-6
                                i.fas.fa-edit
                            button.col-6
                                i.fas.fa-trash-alt
                    td 0123
                    td 111
                    td 11/02/19
                    td 1.11
                    td 0
                    td 14/04/19
                    td 0123
                    td 111
                    td 11/02/19
                    td 1.11
                    td 0
                    td 14/04/19
                    td 0123
                    td 111
                    td 11/02/19
                    td 1.11
                    td 0
                    td 14/04/19
            tfoot.table-foot
                tr 
                    td Tổng
                    td
                    td
                    td
                    td
                    td
                    td
                    td
                    td
                    td
                    td
                    td
                    td
                    td
                    td
                    td
                    td
                    td
                    td
        .table.table-hover.tbl-odd-light.tbl-none(style="min-width: 100vw")
            .tbl-header
                table
                    thead
                        tr
                            th Mã VT
                            th Tên VT
                            th Kho cấp
                            th Định mức
                            th KH
                            th TL
                            th YC
                            th CL
                            th Ưu tiên
                            th Tồn
                            th Chi tiết tồn
                            th Tồn dự kiến
                            th Đăng ký
                            th Tồn dự kiến
            .tbl-content
                table
                    tbody
                        tr
                            td J1G061
                            td Vi XR M4L13
                            td K10
                            td 312
                            td 312
                            td 0.0
                            td 0
                            td -312
                            td 1
                            td 0
                            td K10: 287324 K40: 3252 K50:4498
                            td 
                            td 
                            td 
                        tr
                            td I1A030-901
                            td Lò xo thanh kéo răng
                            td K10
                            td 8500
                            td 8500
                            td 1.3
                            td 0
                            td 2341
                            td 2
                            td 12121
                            td K40: 24213 3252 X41:4498
                            td 
                            td 
                            td 
                        tr
                            td IK1FF5-901
                            td Lưỡi kéo/NHK
                            td K10
                            td 4000 
                            td 4000
                            td 1.1
                            td 4000
                            td 303
                            td 2
                            td 4030
                            td X91: 24213 3252 X41:2800
                            td 
                            td 
                            td 
            .tbl-footer
                table
                    tfood
                        tr 
                            td Tổng