.mt-2
    .table-title.row
        .field-search.col-sm-12.col-12.pd-0.float-none
            .panel.panel-default(style="margin-bottom:15px")
                .panel-heading
                    h6.panel-title
                        i.fas.fa-search(style="line-height:1.5")
                        |  Tìm kiếm
                .panel-body
                    .form-group.col-sm-4.mg-t1
                        form.col-sm-12.search-line.pd-0.bd-0
                            input.form-control.autocomplete.ui-autocomplete-input(type='text', placeholder='Tìm theo mã', autocomplete='off', style="padding: 9px 10px 10px 32px; width:100%;")
                    .form-group.col-sm-4.mg-t1
                        form.col-sm-12.search-line.pd-0.bd-0
                            input.form-control.autocomplete.ui-autocomplete-input(type='text', placeholder='Tìm theo tên', autocomplete='off', style="padding: 9px 10px 10px 32px; width:100%;")
                    .form-group.col-sm-4.mg-t1
                        form.col-sm-12.search-line.pd-0.bd-0
                            input.form-control.autocomplete.ui-autocomplete-input(type='text', placeholder='Tìm theo cấp', autocomplete='off', style="padding: 9px 10px 10px 32px; width:100%;")
    .table-title.pd-0
        .field-filter.float-none.text-right
            label Hiển thị :
            select
                option(value="") 10
                option(value="") 25
                option(value="") 50
                option(value="") 100
    .responsive-table-defaults
        table.table-defaults
            thead.table-head
                tr
                    th 
                    th Mã HĐ
                    th Số HĐ
                    th Ngày Lập
                    th Lượng
                    th Tiền
                    th Ngày KT
                    th Mã HĐ
                    th Số HĐ
                    th Ngày Lập
                    th Lượng
                    th Tiền
                    th Ngày KT
                    th Mã HĐ
                    th Số HĐ
                    th Ngày Lập
                    th Lượng
                    th Tiền
                    th Ngày KT
            tbody.table-body
                tr
                    td
                        .btn-control.row
                            button.col-6
                                i.fas.fa-edit
                            button.col-6
                                i.fas.fa-trash-alt
                    td 0123
                    td 111
                    td 11/02/19
                    td 1.11
                    td 0
                    td 14/04/19
                    td 0123
                    td 111
                    td 11/02/19
                    td 1.11
                    td 0
                    td 14/04/19
                    td 0123
                    td 111
                    td 11/02/19
                    td 1.11
                    td 0
                    td 14/04/19
                tr
                    td
                        .btn-control.row
                            button.col-6
                                i.fas.fa-edit
                            button.col-6
                                i.fas.fa-trash-alt
                    td 0123
                    td 111
                    td 11/02/19
                    td 1.11
                    td 0
                    td 14/04/19
                    td 0123
                    td 111
                    td 11/02/19
                    td 1.11
                    td 0
                    td 14/04/19
                    td 0123
                    td 111
                    td 11/02/19
                    td 1.11
                    td 0
                    td 14/04/19
                tr
                    td
                        .btn-control.row
                            button.col-6
                                i.fas.fa-edit
                            button.col-6
                                i.fas.fa-trash-alt
                    td 0123
                    td 111
                    td 11/02/19
                    td 1.11
                    td 0
                    td 14/04/19
                    td 0123
                    td 111
                    td 11/02/19
                    td 1.11
                    td 0
                    td 14/04/19
                    td 0123
                    td 111
                    td 11/02/19
                    td 1.11
                    td 0
                    td 14/04/19
                tr
                    td
                        .btn-control.row
                            button.col-6
                                i.fas.fa-edit
                            button.col-6
                                i.fas.fa-trash-alt
                    td 0123
                    td 111
                    td 11/02/19
                    td 1.11
                    td 0
                    td 14/04/19
                    td 0123
                    td 111
                    td 11/02/19
                    td 1.11
                    td 0
                    td 14/04/19
                    td 0123
                    td 111
                    td 11/02/19
                    td 1.11
                    td 0
                    td 14/04/19
                tr
                    td
                        .btn-control.row
                            button.col-6
                                i.fas.fa-edit
                            button.col-6
                                i.fas.fa-trash-alt
                    td 0123
                    td 111
                    td 11/02/19
                    td 1.11
                    td 0
                    td 14/04/19
                    td 0123
                    td 111
                    td 11/02/19
                    td 1.11
                    td 0
                    td 14/04/19
                    td 0123
                    td 111
                    td 11/02/19
                    td 1.11
                    td 0
                    td 14/04/19
                tr
                    td
                        .btn-control.row
                            button.col-6
                                i.fas.fa-edit
                            button.col-6
                                i.fas.fa-trash-alt
                    td 0123
                    td 111
                    td 11/02/19
                    td 1.11
                    td 0
                    td 14/04/19
                    td 0123
                    td 111
                    td 11/02/19
                    td 1.11
                    td 0
                    td 14/04/19
                    td 0123
                    td 111
                    td 11/02/19
                    td 1.11
                    td 0
                    td 14/04/19
            tfoot.table-foot
                tr 
                    td Tổng
                    td
                    td
                    td
                    td
                    td
                    td
                    td
                    td
                    td
                    td
                    td
                    td
                    td
                    td
                    td
                    td
                    td
                    td
    .box-pagination
        include buttoncreate.pug
        .pagination-table
            a(href="#") Trang đầu 
            a(href="#") <<
            a.bg-hover(href="#") 1
            a.bg-hover(href="#") 2
            a.bg-hover(href="#") 3
            a(href="#") >> 
            a(href="#") Trang cuối