<!DOCTYPE html>
html(lang="en")
        head
                meta(charset="UTF-8")
                meta(name="viewport", content="width=device-width, initial-scale=1.0")
                meta(http-equiv="X-UA-Compatible", content="ie=edge")
                title Document

        
                link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous")
                


                link(href='css/bootstrap.min.css', rel='stylesheet', type='text/css')
                link(href='css/londinium-theme.css', rel='stylesheet', type='text/css')
                link(href='css/styles.css', rel='stylesheet', type='text/css')
                link(href='css/icons.css', rel='stylesheet', type='text/css')
                link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=latin,cyrillic-ext', rel='stylesheet', type='text/css')

                link(rel="stylesheet", href="../../../dist/css/styles.css")
                <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
                <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
                
                
                <script type="text/javascript" src="js/plugins/charts/sparkline.min.js"></script>
                script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js")

                <script type="text/javascript" src="js/plugins/forms/uniform.min.js"></script>
                <script type="text/javascript" src="js/plugins/forms/select2.min.js"></script>
                <script type="text/javascript" src="js/plugins/forms/inputmask.js"></script>
                <script type="text/javascript" src="js/plugins/forms/autosize.js"></script>
                <script type="text/javascript" src="js/plugins/forms/inputlimit.min.js"></script>
                <script type="text/javascript" src="js/plugins/forms/listbox.js"></script>
                <script type="text/javascript" src="js/plugins/forms/multiselect.js"></script>
                <script type="text/javascript" src="js/plugins/forms/validate.min.js"></script>
                <script type="text/javascript" src="js/plugins/forms/tags.min.js"></script>
                <script type="text/javascript" src="js/plugins/forms/switch.min.js"></script>

                <script type="text/javascript" src="js/plugins/forms/uploader/plupload.full.min.js"></script>
                <script type="text/javascript" src="js/plugins/forms/uploader/plupload.queue.min.js"></script>

                <script type="text/javascript" src="js/plugins/forms/wysihtml5/wysihtml5.min.js"></script>
                <script type="text/javascript" src="js/plugins/forms/wysihtml5/toolbar.js"></script>

                <script type="text/javascript" src="js/plugins/interface/daterangepicker.js"></script>
                <script type="text/javascript" src="js/plugins/interface/fancybox.min.js"></script>
                <script type="text/javascript" src="js/plugins/interface/moment.js"></script>
                <script type="text/javascript" src="js/plugins/interface/jgrowl.min.js"></script>
                <script type="text/javascript" src="js/plugins/interface/datatables.min.js"></script>
                <script type="text/javascript" src="js/plugins/interface/colorpicker.js"></script>
                <script type="text/javascript" src="js/plugins/interface/fullcalendar.min.js"></script>
                <script type="text/javascript" src="js/plugins/interface/timepicker.min.js"></script>

                <script type="text/javascript" src="js/bootstrap.min.js"></script>
                <script type="text/javascript" src="js/application.js"></script>
                
                


        body
                include ../patials/navigation.pug
                block main-content

                script(type='text/javascript', src='../../js/test.js')
                script(type='text/javascript', src='../../js/chart.js')
                script(type='text/javascript', src='../../js/table.js')
                script(type='text/javascript', src='../../js/form.js')
                script(type='text/javascript', src='../../js/getdatajson.js')


                




        
        
